[2015-01-20 05:18] nguyen-tam opened #1 "ErrorType: 3, Error occurred during evaluation: Unexpected token }"
Error occurred during evaluation: Unexpected token } when crawling a site with CloudFare protection. Seem they has changed their js :(

[2015-01-20 05:21] nguyen-tam commented on #1
Here is the url : http://kissmanga.com/

[2015-01-20 09:17] codemanki commented on #1
@nguyen-tam hey. Thanks for reporting this. For sure they changed something. I will take a look asap.

[2015-01-20 10:00] nguyen-tam commented on #1
@codemanki The site has remove CloudFare anti-bot. So I can't test this error again. But it may comes from this line : challenge = challenge[1];

I think if site has more than 2 settimeout function, it may cause the bug.

[2015-01-20 10:43] codemanki commented on #1
@nguyen-tam yeap, you are absolutely right. It has several setTimeout functions and regexp to extract the main one fails. I already fixed this part, but it seems that they introduced some additional checks on server side, and it throws 500 error. I will take a look at it today.

[2015-01-20 10:43] codemanki commented on #1
I will keep this issue open to track progress

[2015-01-21 08:05] codemanki commented on #1
Issue was fixed, new version is released.

[2015-01-21 08:21] nguyen-tam commented on #1
Thanks. But when I tested the site return messages below, did they change their server side code ?
<body bgcolor="white">

            <span><H1>Server Error in '/' Application.<hr width=100% size=1 color=silver></H1>

            <h2> <i>Runtime Error</i> </h2></span>

            <font face="Arial, Helvetica, Geneva, SunSans-Regular, sans-serif ">

            <b> Description: </b>An application

[2015-01-21 09:13] nguyen-tam commented on #1
I think jschl_answer is wrong
when I tracked the url should be but if I check with your script, jschl_answer is -6785
cdn-cgi/l/chk_jschl?jschl_vc=c73f4c3b681b190e6cefdd50fba9e606&jschl_answer=95416093

[2015-01-21 20:04] codemanki commented on #1
@nguyen-tam i tried replacing `(eval(challenge) + response.request.host.length) ` with random ints, and apparently when answer is wrong cloudflare returns same page with challenge.

[2015-01-22 02:32] nguyen-tam commented on #1
You're right. So they've check something at server side ?

On Thu, Jan 22, 2015 at 3:04 AM, Oleksii Sribnyi <notifications@github.com>
wrote:

--
Nguyen Dinh Tam
Mobile: +84 988913843
Email: t <nguyendinhtam@inno-bee.com>amndrok@gmail.com

[2015-01-22 07:35] codemanki commented on #1
@nguyen-tam not really. it seems that request lib sends some invalid/excessive data or improperly follows last 302 redirect.
 i played with it yesterday and came to this conclusion. i will continue investigation today.

[2015-05-05 01:01] roflmuffin opened #2 "No error, body returned is cloudflare challenge page."
I am having issues when trying to retrieve a website that is in "I'm under attack mode" (**http://kissanime.com**)

With a very basic cloudscraper.get, no error is returned however the body of the response is the Cloudflare challenge page.

I have noticed this is a sister site to the website currently being investigated in Issue #1, so that might hold some relevance?

Interesting thing to note is

[2015-05-19 13:31] roflmuffin commented on #2
Any idea what could be causing this?

[2015-05-20 09:51] codemanki commented on #2
@roflmuffin hey. it seems that cloudflare have changed their algo :( i will take a look and fix it asap

[2015-05-20 10:26] roflmuffin commented on #2
Alright, I'm afraid I couldn't find another website that was in IUAM so I couldn't really test if it was just this website or the algorithm. I've been trying to look at the changes in [this commit](https://github.com/Anorov/cloudflare-scrape/commit/89562fde84608e5030cde64ea74331b3368ac4fb) where the original python package adapts to the change (on the 19th of March) but I've been having no luck.

[2015-05-21 05:57] roflmuffin commented on #2
@codemanki Hey, I finally figured out what the issue was! After I added the new 'pass' parameter to the query string it still wouldn't work and I couldn't figure it out. Turns out we it was using the response headers on the second request rather than the headers used for the original request.

I've submitted a pull request #3 to merge at your discretion.

Cheers.

[2015-05-21 08:15] #1 closed

[2015-05-21 08:16] codemanki commented on #2
@roflmuffin hey :) just answered you here https://github.com/codemanki/cloudscraper/pull/3#issuecomment-104174112
Closing this issue since @roflmuffin saved the day and fixed it :)

[2015-05-21 08:16] #2 closed

[2015-09-27 17:35] maurocasas opened #6 "Custom Request headers?"
Is it possible to send custom request headers?

[2015-10-16 13:21] codemanki commented on #6
Hey @maurocasas . Sure it is. You can pass them as third argument:
https://github.com/codemanki/cloudscraper/blob/master/index.js#L12

[2015-10-16 16:09] #6 closed

[2016-01-07 21:32] chisleu opened #9 "TypeError index.js:83"
[code]
body.toString() is called unsafely. Some request errors cause body to be undefined.

[2016-01-09 14:00] codemanki commented on #9
@chisleu thanks for reporting this. Do you have an example scenario or actual error response when this happens? I would like to implement a test case for this issue.

[2016-01-09 16:30] chisleu commented on #9
I want to say it is malformed DNS responses, but sadly I can not share the hostnames in question.

[2016-01-09 16:41] codemanki commented on #9
Could you maybe just share the response without hostnames and any other private information?

[2016-01-11 03:46] chisleu commented on #9
I'll try tomorrow.

[2016-01-11 22:48] chisleu commented on #9
All of the errors were transient and cleared up overnight. Because it throws an uncatchable error, I'm setting up a handler for that, but since my process is highly parallel, I can't pull the hostname unless I'm actively monitoring when an error occurs.

Either way, it seems like a reasonably easy check to see if(body) before you toString().

[2016-01-12 18:43] codemanki commented on #9
@chisleu please take a look https://github.com/codemanki/cloudscraper/pull/10

[2016-01-12 21:39] chisleu commented on #9
That looks decent, but I got another site to trigger the issue just now.

Response: undefined
Body: undefined

I didn't think to print anything else.

I can apply that patch tomorrow and let it run to see if I get a different crash. I haven't traced back the callbacks to see if it breaks later in the chain on error.

[2016-01-13 22:17] chisleu commented on #9
I killed it after it crashed on a new site and replaced the cloudscraper with that patch #10 , and it didn't crash when it re-ran, so I think it is good to go.

I will report if something changes, but thumbs up here.

[2016-01-14 08:12] codemanki commented on #9
@chisleu cool. thanks. releasing the pr right nau

[2016-01-14 08:13] #9 closed

[2016-01-14 08:16] codemanki commented on #9
Fix is available in 1.2.1

[2016-02-26 09:40] dasmikko opened #12 "Possible to login into website?"
Hi!

What I'm asking is, I'm making a small REST API for a website, and I was wondering, is it possible to do a POST to a login page, and save the session cookie to that website, and keep being logged in for the rest of the session?

Hope it makes sense!

[2016-02-27 15:05] codemanki commented on #12
Hey there. I'm pretty sure it is possible in this way:
[code]

Let me know if this works fine for you. If not, we will find some other solution :)

[2016-03-08 21:27] Roguyt opened #13 "Issue with captcha"
Hello,
I have an issue with cloudscraper, i get an error code 1, when i try to get a page from hltv.org.
But i can get the source without any problem when i just use request.
Any ideas ?

Thanks for your job

[2016-03-09 08:22] #13 closed

[2016-03-09 08:24] codemanki commented on #13
Hey. Thanks for reporting this. Issue was that page hltv.org had recaptcha in it and cloudscraper was detecting it as CF page protected by captcha. I've improved the detection and released version `1.2.2`. Let me know if the fix works for you!

[2016-03-09 20:37] Roguyt commented on #13
Hey,
Just checked it works perfectly !
Thanks m8

[2016-03-12 07:24] #12 closed

[2016-04-16 12:37] aalireza439 opened #15 "Cannot read property 'statusCode' of undefined"
i try to get link is redirected.
 i get this errror :

[code]

[2016-04-17 16:20] codemanki commented on #15
Please share the content of `error ` and `body` objects here. Thanks

[2016-04-29 11:16] cagnulein commented on #15
I have the same issue but happens very rarely.

[2016-04-30 07:59] codemanki commented on #15
@cagnulein could you share the error and body objects here next time you get into this issue?

[2016-05-05 09:36] cagnulein opened #16 "error 1008, page in wiki is wrong"
If i try to scraping this url http://vcrypt.net/shield/HSXWXJKcvcJTgm4AAGhG9db4LFAyMO6dlnaQCpm65PSHoDhUM1tZWG_ppl_LgwpDPRbC it returns error 2 - 1008.
I'm tring to understand which is the meaning of this error but the page linked into the wiki of this project is wrong. Could you please help me?
Thanks

[2016-05-05 13:41] kopertop opened #17 "Does not work with www.moneyunder30.com"
I've seen it work with similar sites, but it doesn't seem to work with http://www.moneyunder30.com/feed

[2016-05-06 09:26] codemanki commented on #17
@kopertop hey. I just checked it and it works fine for me:
`cloudscraper.get('http://www.moneyunder30.com/feed', function(error, response, body) ...`

Could you please share the `response` and `error` objects if you get error?

[2016-05-06 09:30] codemanki commented on #16
Looks like your ip was banned. Not related to cloudscraper:
[Error 1006, 1007 & 1008 Access Denied: Your IP address has been banned](https://support.cloudflare.com/hc/en-us/articles/200171886-Error-1006-1007-1008-Access-Denied-Your-IP-address-has-been-banned)

[2016-05-07 15:15] #16 closed

[2016-05-18 09:40] bato3 opened #18 "Cannot read property 'toString' of undefined"
When i'm using proxy for HTTPS requests after long time sometimes happen this:

[code]
[code]

[2016-05-18 09:49] bato3 commented on #18
it's this after some fixes: https://github.com/codemanki/cloudscraper/issues/15

[2016-05-18 09:49] #18 closed

[2016-05-18 09:52] bato3 commented on #15
[code]

[2016-05-19 07:01] codemanki commented on #15
@bato3 thanks. will look into this asap

[2016-05-22 14:43] #15 closed

[2016-05-22 14:45] #17 closed

[2016-06-09 14:55] cagnulein opened #20 "http://www.cineblog01.cc/anime/ returns errorType 3"
as subject :)

[2016-06-09 15:46] kopertop opened #21 "Error occurred during evaluation: Unexpected string"
I'm seeing the error message "Error occurred during evaluation: Unexpected string" while trying to scrape this: http://zolmax.com/feed

[2016-06-09 16:08] codemanki commented on #21
Closing as duplicate of https://github.com/codemanki/cloudscraper/issues/20

[2016-06-09 16:08] #21 closed

[2016-06-09 16:09] codemanki commented on #20
Looks like CF changed their challenge ;) Investigating

[2016-06-09 17:52] #20 closed

[2016-06-09 17:53] codemanki commented on #21
1.3.0 version has been released.

[2016-06-09 17:53] codemanki commented on #20
1.3.0 version has been released.

[2016-06-09 17:58] kopertop commented on #20
Thanks, I can confirm this worked for me!

[2016-06-10 06:12] cagnulein commented on #20
You're great! Thanks man!

[2016-06-10 13:28] roflmuffin commented on #20
Thanks for the prompt update, much appreciated.

[2016-06-18 15:07] RonMelkhior opened #23 "Proxy support"
Hi, is there any way to implement proxies into this?

[2016-07-22 19:45] DVassilev opened #24 "Refactored to use superagent"
@codemanki How could this be changed to use superagent instead of request? Thanks.

[2016-07-23 18:58] codemanki commented on #24
@DVassilev probably nohow :( This package fully depends on request

[2016-07-26 04:22] DVassilev commented on #24
@codemanki so it can't be done just by using something like XMLHTTPREQUEST?

[2016-07-31 15:30] codemanki commented on #24
@DVassilev what do you mean? how what you need can be achieved by XMLHTTPREQUEST ?

[2016-08-01 12:07] firatbaran commented on #24
How we using this library in c#? (Winforms)

[2016-08-04 07:20] codemanki commented on #24
@firatbaran unfortunately you can't use this library with C# as it this javascript and node and not .net

[2016-08-04 08:05] ferhatbalaban commented on #24
So, is that impossible to use .net project to pass cloudflare?
And dou provide code sample that is in the sample project?

[2016-08-10 06:45] codemanki commented on #24
@ferhatbalaban no, unfortunately you can't use node.js in .net project

[2016-08-10 06:45] #24 closed

[2016-09-14 03:46] autoproblems commented on #23
Yes, i'm using my addon for HTTP proxy;

[code]

Use:

[code]

[2016-09-18 18:06] vinitm opened #27 "Promise support"
Is there a way of using Promises with cloudscraper ?

[2016-09-28 16:21] lgaticaq opened #28 "Question about tough-cookie dependencie"
For what reason add tough-cookie in dependencies if you do not currently use? That makes unnecessary dependencies are installed. Additionally this version presents [vulnearibilidades](https://snyk.io/vuln/npm:tough-cookie:20160722)

[2016-10-10 07:11] codemanki commented on #28
@lgaticaq that is a very good question. I'll take a look and exclude it if not used

[2016-10-30 16:25] #28 closed

[2016-11-28 07:53] srph opened #31 "Unable to scrape kissanime.com"
## Problem
I'm having subsequent failures when requesting to [kissanime.com](http://kissanime.com). Running [this code](https://github.com/srph/cloudscraper-issue31) gives me a `null` error but a CloudFlare page

## Output

[code]

## Note

I'm not sure myself if CloudFlare is throttling me. I was able to get this library to work for a single time an hour ago, but never had any another success aga

[2016-12-01 16:32] srph commented on #31
I just visited the aforementioned website, and I noticed that sometimes, although it displays that I wait for 5 seconds, it just refreshes the page. This might be the reason cloudcrape isn't *working*.

[2016-12-19 10:55] srph commented on #31
Closing this as this doesn't appear to be an issue related to this library; and that the service mentioned (kissanime) is no longer functional (at least for the mean time).

[2016-12-19 10:55] #31 closed

[2017-01-03 11:06] TogusaRusso opened #32 "Unknown encoding error on url with russian letters"
My rss parser worked just fine until met this link
https://zooqle.com/шерлок-sherlock-04x01-из-03-2017-hdtv-1080i-от-exkinoray-первый-vk0la.html
And cloudscrapper can't get body of this page. I suppose it have something to do with russian letters in url.

[2017-01-03 11:10] TogusaRusso commented on #32
Yep, I need to convert russian letters to hexadecimal format and then it works just fine.

[2017-01-24 00:03] williamoliveira opened #33 "Browser support"
Could this be tweaked to work in the browser also?

[2017-01-24 00:05] dfanara commented on #33
I suppose you could write a nodejs app to act as an HTTP proxy, where the proxy itself uses cloudscraper to bypass cloudflare and then serves the content back to the browser.

[2017-01-24 00:08] williamoliveira commented on #33
Yeah, I could, I am currently doing the scrapping on backend with cheerio but I am trying to make my app serverless

[2017-01-24 00:11] dfanara commented on #33
Are you looking to use it in a specific browser? If you don't have anything specific in mind, you could use http://electron.atom.io/ with Chromium and use cloudscraper to load all of the content to display clientside. You may be able to hook into the electron API to force all of the traffic directly through cloudscraper.

Also, you could write the NodeJS implementation and run a local instance of

[2017-01-24 00:15] williamoliveira commented on #33
That wouldnt work for me, its a normal web application.
I will fork this project and see if I can modify to use axios or something instead of request

[2017-01-24 14:02] #33 closed

[2017-02-14 18:55] matthi4s opened #34 "Stopped working, loads cloudflare html instead of file"
Today I noticed that the scraper stopped working for me although it worked before.

This is the url that I tried to get: https://www.spigotmc.org/resources/5583/download?version=140619

Source:
[code]

And that's the body, while error is empty:
[code]

[2017-02-15 09:06] #32 closed

[2017-02-15 09:29] codemanki commented on #34
Hey @matthi4s . If you open the `https://www.spigotmc.org/resources/5583/download?version=140619` page in your browser and then look into the sources ( after it goes through cloudflare challenge ) you will see exactly what you pasted. So scraper is doing fine ;)

[2017-02-15 19:16] matthi4s commented on #34
My bad, I misinterpreted that source code as the cloudflare protection page. Thanks a lot for your quick help! ;)

[2017-02-15 19:16] #34 closed

[2017-02-23 12:16] bato3 commented on #23
or therse (without modification code)

[code]

[2017-03-27 20:11] catchstar opened #35 "Thank you!"
wow, wonderful! it help me so much! thanks!

[2017-03-28 08:38] catchstar opened #36 "superagent make me crazy..orz.."
i write a "cloudscraper" by superagent module, but not success. i think superagent cookie jar module have problem.
the same code, i change to use request module. it succeed.

i still not found the problem on superagent. crazy..

[2017-04-13 17:16] masihfathi commented on #35
i got error, " You are on this page because you tried to use the website from different computers. "

[2017-04-13 17:22] catchstar commented on #35
@masihfathi which website do you want to gopass? let me try

[2017-05-01 12:27] masihfathi opened #38 "submit and authenticate with login form"
is it possible to submit login form and then being authenticated. for example login via github.com/login and then get a page that need login for example,https://github.com/settings/profile

[2017-05-06 13:22] Chearful opened #39 "Doesn't provide actual body for website"
Website is https://mcsniper.co/ - they have a custom cloudflare page which I believe may be the root cause of the issue.

Code snippet:

[code]

[2017-05-08 04:36] seanc opened #40 "allow streaming"
if possible, can you expose the stream interface from `request`?

[2017-05-08 21:28] Cousin commented on #39
lol

[2017-05-08 21:30] seanc commented on #39
what was the response body?

[2017-05-08 23:14] Cousin commented on #39
@seanc the body was "successful snipe: gritty"

[2017-05-13 20:13] Godzil opened #41 "Email protection is not parsed by cloudscraper"
On Crunchyroll, they have activated the "email protection" from cloudflare and when I try to scrape some of their webpages I get "[email protected]" instead of the expected text.

Example: http://www.crunchyroll.com/the-idolmster-cinderella-girls-theater#

On that webpage the "DOLM@STER" is seen as an email by cloudflare (that mean their regexp is fabulously wrong) and it screw my scraping because

[2017-07-27 19:42] Josexv1 opened #42 "where to get the cf_clearance cookie"
I'm modifying the module to get the **cf_clearance cookie**, but the original web response doesn't have it, it have other cookies but not this one, which is the one needed to get the web without bypassing it again.

In which stage could i get this one?

[2017-09-04 03:29] rectof commented on #39
am I late to the meetup

[2017-09-21 02:02] deadlyicon opened #44 "unneeded variable declaration"
I don't think you are using the `method` variable here https://github.com/codemanki/cloudscraper/blob/master/index.js#L65

[2017-10-09 13:38] smolleyes opened #45 "not following redirections"
hi

everything is in the title

i added :

`followAllRedirects: true`

to all your performRequest functions and everything is right :)

(don t have time to fork / make PR now, sorry)

[2017-10-11 19:36] iz8mbw opened #46 "Custom User Agent"
Is there the possibility to specify the User Agent when made GET?
If no, can it be implemented?
Thanks

[2017-11-10 15:15] De-Lac opened #47 "get Images"
with the "Request" object, I could get images doing

[code]

I'd like to do the same with cloud scraper, otherwise it takes the file but it's not recognized as image (probably for the wrong encoding)

[2017-11-10 15:19] De-Lac commented on #47
I'm sorry, it already works in that way using `.request()`

[code]

[2017-11-10 15:19] #47 closed

[2017-11-29 20:45] thepocp commented on #46
The third argument of a function is an object in which you can send headers. For example:
[code]

[2018-01-04 10:34] Goswinus opened #48 "Shared jar"
Hi,

First of all: thanks for a great job! Saved me heaps of time :)
In my project, I need a persistent jar, so I have a small suggestion.

In the first couple of lines, you create a private jar. How about changing this slightly:
    var defaultJar = requestModule.jar();
    var request      = requestModule.defaults({jar: defaultJar}), // Cookies should be enabled

Then, as the first line in funct

[2018-01-15 13:42] Angelk90 opened #49 "Some information"
@codemanki :
Hi, I wanted to know if it works on react-native.
I tried to install it but it does not seem to work, from problems with addictions.
So I wanted to know is it possible to make it work on react-native?

[2018-02-05 12:09] benwinding commented on #27
For anyone wondering, here's a wrapper function to make it into a Promise.

[code]

[2018-02-22 18:42] wkwong2018 opened #50 "How to use with casperJS"
I am going to crawl a webpage which I use casperJS, how can I use the cloudscraper to bypass the cloudfare challenge with casperjs, any example?

[2018-03-10 12:59] jjhesk opened #51 "typescript support"
is that possible to make a ts in the lib

[2018-03-18 10:23] Vesporton opened #52 "Usually bypasses this site, but it doesn't anymore."
v3rmillion.net

https://pastebin.com/mXXTBYCn

[2018-03-18 12:39] Kamikadze4GAME commented on #52
All dont work anymore. I think CloudFlare changed algo

[2018-03-18 13:00] Kamikadze4GAME commented on #52
Yeah, i have found smth.
Logic of this package.
1. Get page.
2. If there is CloudFlare challenge try to solve it. If captcha => Error. If all good GOTO 4.
3. Make request with solved challenge.
4. Return response.

And mistake: package get pae, solve challenge and cloudflare give one more page with captcha.
So we need try to find captcha after second request.

From this:
[code]
to this
[code]

[2018-03-21 08:57] codemanki commented on #52
@Kamikadze4GAME thanks for looking into this. Gonna fix and push a new versions asap

[2018-03-24 18:45] #52 closed

[2018-03-25 16:15] Kamikadze4GAME commented on #52
@codemanki I have wrote you email. Pls answer. Sorry for such message.

[2018-03-27 08:27] GoChartingAdmin commented on #33
@williamoliveira Did you make any progress on browser side usage of cloudscraper?

[2018-03-27 16:06] williamoliveira commented on #33
Nope, I dropped the project I was working on

[2018-03-27 19:21] #39 closed

[2018-03-28 12:45] namannehra opened #54 "couldscrapper.get is returning js challenge page instead of expected page"
Link to example: https://repl.it/repls/ExpensiveMortifiedDevices
Running it prints the js challenge page instead of expected page

[2018-04-13 06:39] n3xtgen commented on #54
I just tried it, and it prints errorType: 1 for me. We have problems with this module too, we use bittrex-market library to connect to Bittrex, an that library uses this one. Last few weeks it almost never connects, only like once out of 10 times it works.

[2018-04-13 06:47] namannehra commented on #54
It prints errorType 1 most of the time and other times it prints the challenge page

[2018-04-13 07:06] codemanki commented on #54
@namannehra thanks for reporting this. I tried fetching that url 50 times in a row but it still works fine for me and returns an expected html.
@n3xtgen error type 1 means that cloudflare decided to return a page with recaptcha and unfortunately, this is not something this library can help with

[2018-04-14 01:32] n3xtgen commented on #54
Just tried that script few times now again and in 20 tries it printed
10 times errorType: 1
3 times challenge page
7 times actual page

In bittrex-market module cloudscraper is used like this:
[code]
I used current version of cloudscraper. It always finishes without error but the `response.request.headers['cookie']` includes only the `__cfduid=d15d3fd866010565a592507ea1c4a26151523666058` cookie an

[2018-04-14 01:46] n3xtgen commented on #54
Ok now I tried to use a anonymous window in Firefox a few times and it really shows at least 2 successive pages of cloudflare challenge most of the time, sometimes even more, so we need mechanism that will solve whatever number of challenges until returning required page..

[2018-04-18 20:12] jd4ever opened #56 "Is there support for incapsula?"
First, thanks for the project!

Would it be possible to integrate incapsula support? It looks like they have similar antiddos strategies and there is also a python library available for bypassing it: https://github.com/ziplokk1/incapsula-cracker-py3

[2018-04-19 23:54] kkm opened #57 "Umlaute Problem"
[code]

But it shows on Server Side
[code]

[2018-04-28 02:17] Revadike opened #58 "Request defaults"
I'd like to see support for request defaults such as `jar: true`, which remembers cookies for subsequent requests.

https://github.com/request/request#convenience-methods

[2018-04-28 03:26] Royalgamer06 commented on #58
Perhaps allow us the pass an instance of the `request` module in cloudscraper constructor.

[2018-05-09 16:35] #38 closed

[2018-05-23 20:48] Royalgamer06 opened #59 "Please wait 5 seconds"
Cloudscraper failed for this page: https://steamdb.info/freepackages/
Can you fix it?

[2018-06-01 21:20] 9xcoder opened #60 "Another case need to be solve"
Hi,
Thanks for your sharing,
I have another case, can you help me solve it ?

https://pastebin.com/7VrX4pVQ

Thanks

[2018-06-06 19:10] dnunes commented on #58
This is a library, not a class/prototype. It doesn't have a constructor. Anyway, it could have provided a helper function to configure the defaults, for sure. I actually forked it locally just because of this requirement.
I thought about making a PR, but it doesn't look like it's being actively maintained.

[2018-06-07 06:54] codemanki commented on #58
@dnunes if you make a PR i would be happy to merge and release it :)

[2018-06-07 07:03] codemanki commented on #60
Hi @9xcoder this looks like a html from some page that has nothing to do with cloudflare protection

[2018-06-07 07:03] #60 closed

[2018-06-07 07:04] codemanki commented on #57
@kkm not sure what is the problem, i see the same word twice - `Österreich`

[2018-06-07 07:05] codemanki commented on #56
@jd4ever this is a package to bypass the cloudflare, not incapsula. Maybe in future someone could unify multiple providers in one package

[2018-06-07 07:05] #56 closed

[2018-06-07 07:06] codemanki commented on #51
@jjhesk i didn't actually this

[2018-06-07 07:06] #51 closed

[2018-06-07 07:06] #35 closed

[2018-06-08 00:07] mavrick commented on #58
I thought the same until i saw @codemanki reply. Maybe some of the PR's and open issues could be cleaned up so it looks a bit more active mate?

[2018-06-08 00:39] dnunes commented on #58
Hey, @codemanki, good to see it's still being worked on. My solution is a pretty hacky one just to work on my personal needs (`cloudscraper.setRequester(<request>)`), but I'm sure we can think of something better and more general to make a PR. If I get to it, I'll sure make a PR here. Thanks for the your work.

[2018-06-08 07:41] codemanki commented on #58
@mavrick will do that over the weekend. I really want to merge the promise support PR.
@dnunes got it. Hope you'll get to it :) Thank you for contributing!

[2018-06-08 10:05] mavrick commented on #58
@codemanki I like @dnunes idea having more control over the requestjs object so we can set custom headers, http agents etc.

[2018-06-09 16:54] #57 closed

[2018-06-09 16:55] #36 closed

[2018-06-09 16:55] #49 closed

[2018-06-09 16:55] codemanki commented on #40
@seanc i plan to allow to pass anything to the request object

[2018-06-09 16:55] #40 closed

[2018-06-09 17:18] #50 closed

[2018-06-09 17:18] #46 closed

[2018-06-09 17:19] codemanki commented on #27
This will be done in the near future.

[2018-06-09 17:19] #27 closed

[2018-06-10 12:59] Royalgamer06 commented on #58
Perhaps `cloudscraper` could even substitute it for the `request` library, so we only need one library to make HTTP requests. Though, it would require detecting cloudflare on sites, otherwise [it will always wait 5 seconds for every request](https://github.com/codemanki/cloudscraper#wat).

[2018-06-10 12:59] Royalgamer06 commented on #59
Bump?

[2018-06-10 19:04] codemanki commented on #59
@Royalgamer06 it looks like that page is protected with recaptcha ( that is why it returns error code 1 ), and unfortunately, cloudscraper can't omit that - https://github.com/codemanki/cloudscraper#error-object

[2018-06-11 00:28] Royalgamer06 commented on #59
Here is the page's source code:
https://pastebin.com/Jc0HVZre

It seems to be cloudfare Anti-DDOS JS challenge

[2018-06-11 16:48] codemanki commented on #59
@Royalgamer06 could you share the code you use to fetch that page?
I tried it locally, it actually works fine for me. Sometimes i get recaptcha challenge, but most of the requests successfully go through and return me the target page

[2018-06-11 16:50] codemanki commented on #59
@Royalgamer06 and that source code is a valid challenge that cloudscraper can solve. I was able to write a spec for it

[2018-06-11 17:54] Royalgamer06 commented on #59
Try scraping https://steamdb.info/keys/ or https://steamdb.info/freepackages/

[2018-06-11 18:05] codemanki commented on #59
@Royalgamer06
[code]

works fine for me :(

[2018-06-29 04:49] jirwong commented on #59
@codemanki

I had a similar issue for this as well, and looking at your code, I changed the following to whatever the body was returning.

Changed at line 104 - **You are being redirected** to whatever string I would find in the response, and it worked for me.

@Royalgamer06 for your reference, if you really need it to work quick, just modify cloudscraper/index.js as below :

[code]

[2018-07-07 19:19] mithlesh425 opened #61 "Where to paste code in node.js server"
I am trying to bypass Bitgo cloudflare which is running on my mannual Server (http://www.rubitcurrency.com/login).
Once I click /login it takes time but nothing happens. For immediate testing purpose I like to know where to paste code that you have written in your Readme.

[2018-07-19 22:56] Revadike opened #62 "Add support for recaptcha"
Allow us to solve and submit captchas for pages that requires one. For example, you could configure https://anti-captcha.com to solve them.

[2018-09-23 11:56] altinselimi opened #64 "Support caching"
Hi, I'm trying to cache the requests but sending the 'Cache-Control' header doesn't seem to have any effect. Here's the code:
[code]

[2018-10-29 20:43] milesalex commented on #61
You can write this in any node environment. Create an app on your computer and install the package, require it, and then run it with `node myfile.js`

[2018-11-10 22:13] Royalgamer06 commented on #59
I'm getting the same with OGUsers.
Here is the `data` object its returning

[code]

[2018-11-10 22:14] Royalgamer06 commented on #59
Tried your latest version. It still has this error.

[2018-11-17 23:31] Royalgamer06 commented on #59
It seems https://steamdb.info/freepackages/ is working with latest version, but https://ogusers.com returns the 5 seconds HTML.

[2018-11-17 23:48] Royalgamer06 commented on #59
I've been trying out request headers and come to the following conclusion:
It seems the lack of header `"cache-control"` was causing the 5 second waiting page to appear, however it also needs the `"accept"` header to avoid getting captcha. The values of these headers don't matter.

I know this script should detect and solve this 5 second page, but turns out some cases don't work. For those cases I

[2018-11-18 08:59] codemanki commented on #59
@Royalgamer06 thanks for investigating this issue. So you are saying that just setting `cache-control` and `accept` headers helps and resolves this problem?

[2018-11-18 17:02] Royalgamer06 commented on #59
Seems like it

[2018-11-19 08:03] codemanki commented on #59
@Royalgamer06 then i will include these headers in the default ones and will bump the version

[2018-11-21 16:33] codemanki commented on #59
@Royalgamer06 done. Version `1.5.1` was just published

[2018-11-26 08:09] Ekliptor opened #65 "Solver not working anymore"
Hi,
previously the CF challenge was extracted with the following function:
`var challenge = body.match(/S='([^']+)'/);`

Now they made that variable random and added a random-name property on it for the challenge. Full example:
[code]
In the above example the challenge comes from the variable `var bUNLJBB.xqYrWXXfBO` which returns a number. But as mentioned, the variable name is random

I can see

[2018-12-01 17:42] #61 closed

[2018-12-01 17:42] #59 closed

[2018-12-01 17:43] codemanki commented on #65
@Ekliptor which url are you trying to open?

[2018-12-01 18:10] Ekliptor commented on #65
I get these new challenges as posted above on every domain that is set to "Under attack mode" in Cloudflare. To demonstrate i just set cashtippr.com to show this challenge.

Also when accessing it with a GET request using cloudscraper from a German IP I still get through (past the challenge) about 80% of the time.
The function `setCookieAndReload` extracting the challenge is almost never called as

[2018-12-02 10:34] codemanki commented on #65
@Ekliptor thanks for the details, but I still don't quite understand what has happened and changed.

CF has 2 pages which cloudscraper tries to bypass:
- First with a JS challenge, [example](https://github.com/codemanki/cloudscraper/blob/master/specs/fixtures/js_challenge_09_06_2016.html)
- And second one with a cookie challenge, [example](https://github.com/codemanki/cloudscraper/blob/master/spec

[2018-12-02 15:48] DavidXanatos commented on #65
Hello,

The issue seams to be that after getting a challenge, CF sometimes brings a second challenge, so the scraper needs to be executed in a look until it makes it through.

just my 2 cents

David X.

[2018-12-02 18:18] codemanki commented on #65
@DavidXanatos @Ekliptor I'm struggling to repro such a scenario.

I would appreciate if you could provide me with a link that has multiple challenges, or ideally a source code of each page in the chain of CF responses, so I can write a test case and fix the library.

[2018-12-02 18:49] DavidXanatos commented on #65
an example would be: h++p://iload.to/l/1786935/9Qga10zgWZ

[2018-12-02 20:12] codemanki commented on #65
@DavidXanatos I only get one CF challenge and then 404 page

[2018-12-02 21:18] DavidXanatos commented on #65
try tomorow thay seam to have soem issues since a few hours,
also as Ekliptor wrote, the double challenge only happens once in a while.
So the best would be to wait until the site is reachable again and than run a hundred requests in a look in order to catch the odd one that makes trouble.

[2018-12-09 13:18] #65 closed

[2019-01-14 14:03] ilegalhost opened #67 "Hey <3"
gang

[2019-01-29 13:45] #67 closed

[2019-02-15 22:02] pro-src opened #68 "There is a better way to extend request"
This library really should extend request the same way that `request-promise` does. It'd probably close all of the currently open issues. I'll work on a bit later but here is the gist of it.

The example below shows how to support `request` and `request-promise`. Simply have them both as peer dependencies (not installed automatically) and users can continue to use `request` as they normally would.

[2019-02-15 23:27] pro-src commented on #68
This is not an accurate comment...
https://github.com/codemanki/cloudscraper/blob/633faba3a767ac341211c399aa7e8216a49d84a0/index.js#L245

The first 94 lines of this library can/should be replaced with the following and will close some issues:

[code]

The requester argument of `request.defaults` supports this use case: https://github.com/request/request/blob/a9557c9e7de2c57d92d9bab68a416a87d255cd3

[2019-02-15 23:59] pro-src commented on #68
Please get back to be soon so I'll know what direction to take with this as I'll be using it in my own project and I want to publish soon. Obviously, I don't want to maintain a fork but I will send a PR once I have your input.

[2019-02-16 02:29] pro-src commented on #58
#68 Solves this

[2019-02-16 08:05] codemanki commented on #68
Hey Dwayne, thank you for your suggestions. I'm travelling atm and will look into your suggestions in 2-3 days.

[2019-02-16 23:30] pro-src commented on #68
Thanks for the response. The request response handling was a bit tricky but the following should preserve all HTTP verb methods, and stream/callback/promise functionality. It should be usable with either `request` or `request-promise`. It should work everywhere that `request` works.

[code]

[2019-02-20 10:21] pro-src commented on #68
@codemanki I'm still trying to find a good way to deal with the response handling. I haven't got anything without at least some minor side effects and it all seems hackish. It'd be nice to get your input so I can whip up something worth merging.

[2019-02-23 18:09] pro-src opened #70 "Add linting and code style badge"
This will boost the npmjs package rank.

https://itnext.io/increasing-an-npm-packages-search-score-fb557f859300

The current coding style is [SemiStandard](https://www.npmjs.com/package/semistandard), no changes required.

[2019-02-23 19:10] pro-src commented on #68
@codemanki, I'm closing this in preference of more specific issues. The referenced PR may be closed as well.

[2019-02-23 19:10] #68 closed

[2019-02-24 22:00] pro-src commented on #42
Are you referering to the `Set-Cookie` response header and getting it via `response.headers`?
Cookies are set on the request not on the response. Try getting the cookies that were used to make the request via `response.request.headers`.

[2019-02-24 22:05] pro-src commented on #44
Hmm... Not sure if the current code has been updated since your comment but if not, you might've been referring to `get` and `post` being the only allowed methods?

Should setup a bot to close these stale issues...

[2019-02-24 22:11] pro-src opened #72 "Use requester argument of request.defaults"
Using the requester argument of `request.defaults` will resolve some issues and support all request methods.

This should fix:
* #48
* #58
* #64
* Possibly #44

Those issues can be closed when this lands and are stale anyway.

[2019-02-24 23:14] pro-src opened #74 "Re-use request"
Re-using the request makes it possible to re-use the request agent (in some cases) and preserves header information that may be lost. This should be a non-breaking change. Request has smart option handling so it's quite easy to achieve this.

Consider the following code example.
[code]

Also, if we want to just reinitialize(redirect) the request, it would simplify the code base as you don't have t

[2019-02-25 02:35] pro-src opened #75 "Use vm (sandbox) to solve challenge"
https://github.com/codemanki/cloudscraper/blob/633faba3a767ac341211c399aa7e8216a49d84a0/index.js#L192

<strike>Are the extra string replacements performed to avoid using vm?</strike> This is an insecure method of solving the challenge.

[2019-02-25 02:53] pro-src opened #76 "Improve cloudflare challenge detection"
Since this is based on cloudflare-scrape:

https://github.com/Anorov/cloudflare-scrape/blob/d56c981bfebdb3a53f6437be8c823888c15155d5/cfscrape/__init__.py#L55-L61
[code]

However, the status code and headers aren't being checked prior to searching the response body via regex. At very least, this is a performance issue.

[2019-02-25 03:25] pro-src commented on #76
Setting a timeout on the VM is advised as well: https://github.com/Anorov/cloudflare-scrape/commit/c4606653f1a3bb1a4afc180ee66a9a9f270383f3

[2019-02-25 03:25] pro-src commented on #75
Setting a timeout on the vm is advised as well: https://github.com/Anorov/cloudflare-scrape/commit/c4606653f1a3bb1a4afc180ee66a9a9f270383f3

[2019-02-25 03:29] pro-src opened #77 "Randomize default useragent"
https://github.com/Anorov/cloudflare-scrape/blob/master/cfscrape/__init__.py#L17-L27

[code]

A note about adding this: https://github.com/Anorov/cloudflare-scrape/commit/2c9934ad071ffff3333db6153b3083227c65b01c

[2019-02-25 03:38] pro-src opened #78 "Add bug report message when failed to parse challenge"
This should aid people who are using cloudscraper indirectly.

Something similar to this would be great: https://github.com/Anorov/cloudflare-scrape/blob/master/cfscrape/__init__.py#L29-L34

Cloudflare may have changed their technique, or there may be a bug in the script.
<strike>Please read https://github.com/codemanki/cloudscraper#updates</strike>, then file a
bug report at https://github.com/co

[2019-02-25 03:45] pro-src commented on #62
https://github.com/Anorov/cloudflare-scrape/issues/167

[2019-02-25 03:48] pro-src opened #79 "Generate stacktrace for validation error"
https://github.com/codemanki/cloudscraper/blob/633faba3a767ac341211c399aa7e8216a49d84a0/index.js#L137

[2019-02-25 04:01] pro-src commented on #33
These [tests](https://github.com/request/request/tree/master/tests/browser) seem to indicate that `request` has had browser support for years. Use a good bundler such as webpack and everything should work.

[2019-02-25 04:18] pro-src opened #80 "Put parsing related code into it's own file"
This is sorta mentioned as a TODO in the README.md

This would help modularize things a bit and aid people looking for browser support. The idea is to make the parsing code independent of [request](https://github.com/request/request). This would allow the tree shaking feature of popular bundlers to remove the `request` dependency altogether.

[2019-02-25 06:34] pro-src opened #81 "Correct README.md message about captcha"
There's a typo and it's not entirely accurate. See #62

Something like this would suffice:

And/or optimistically:

[2019-02-25 06:48] pro-src opened #82 "Continuous Integration"
Seems lazy not to have this and it lowers the npmjs package score.

[2019-02-25 07:27] pro-src opened #83 "Add LICENSE"
https://help.github.com/en/articles/adding-a-license-to-a-repository

[2019-02-26 08:59] pro-src commented on #81
Another typo to fix when fixing this one:

[2019-02-26 16:15] #70 closed

[2019-02-26 16:16] #82 closed

[2019-02-26 16:16] #83 closed

[2019-02-27 09:31] pro-src opened #86 "Add code coverage"
npmjs.com actually scores packages based on how many badges they have in their README.md. This is an exceptional badge to have.

Istanbul + Coveralls seems to be the best way to get it.
https://istanbul.js.org/docs/tutorials/mocha/#integrating-with-coveralls

It definitely has by vote!

[2019-02-27 10:59] pro-src opened #88 "Enhancement: Stale bot"
This is a easy as clicking the install button: https://github.com/apps/stale
Once installed you add a tiny configuration file.

Pros:
* No longer have to worry about manually closing really old issues that are long forgotten.
* Protects the npmjs.com package maintenance score by not letting issues rot.
* Helps you stay focused on issues that matter.
* People don't think you died or too busy becaus

[2019-02-27 11:06] pro-src opened #89 "Yet another badge"
Greenkeeper is a must have as it will send you PR's automatically whenever there is say, a new version of `request/request`. Super easy to setup and I'll send a PR for this if you want it. It only adds a line to the `.travis.yml`. Oh ya, it's free too! So, if you want that: https://greenkeeper.io

Install it: https://github.com/apps/greenkeeper
Ensure it is enabled: https://account.greenkeeper.io/

[2019-02-28 01:04] pro-src opened #90 "Remove sinon timers from tests"

[2019-02-28 03:19] #72 closed

[2019-02-28 04:08] pro-src opened #92 "Allow the request module to be replaced"
As mentioned in #58

[2019-02-28 04:09] pro-src commented on #58
There is support for this in the v3.0.0 branch. This can be closed.

[2019-02-28 04:10] pro-src commented on #48
This is supported in the v3.0.0 branch and can be closed.

[2019-02-28 04:13] pro-src commented on #23
This is supported in the v3.0.0 branch and can be closed.

Example:
[code]

[2019-02-28 04:17] pro-src commented on #64
Hi @altinselimi ,

The headers must be passed as the third argument.
Example:
[code]

This is not the case for the currently unpublished v3.0.0 branch, your code works as is on that branch.
This can be closed.

[2019-02-28 19:36] #86 closed

[2019-03-01 00:33] #92 closed

[2019-03-01 00:41] pro-src commented on #90
Doh... I completely missed it. Closing...

[2019-03-01 00:41] #90 closed

[2019-03-02 10:27] pro-src opened #95 "Add web crawler functionality"
I don't need the feature personally but I think it'd be nice to have and make the name more fitting.

Something like this: https://github.com/jordanpotti/CloudScraper
<strike>Obviously this would be overkill for this package:</strike> https://github.com/bda-research/node-crawler

Actually, there isn't all that much code in node-crawler, it's primarily just combining other packages...

[2019-03-02 10:31] pro-src opened #96 "Publish as cloudflare-scrape additionally"
This should aid people looking for this package on npm. I'll do this myself. An empty package with a simple README.md pointing to cloudscraper should do the trick.

Edit: I'll invite you as a maintainer so you'll have control over the package listing.

[2019-03-02 10:51] pro-src commented on #96
@codemanki, Done.

https://www.npmjs.com/package/cloudflare-scrape
https://www.npmjs.com/package/cfscrape

Might also want to consider actually republishing as cloudflare-scrape because I don't see cloudscraper at all when I search for cloudflare. :disappointed:

[2019-03-02 11:06] #96 closed

[2019-03-02 14:09] codemanki commented on #95
@pro-src i think if cloudscraper will be flexible and extensible it can be used together with web scrapers and so. I feel it should be just a tool that makes a request and tries to bypass the protection, and nothing more. Maybe also adding a way to solve recaptcha in future

[2019-03-02 14:16] codemanki commented on #77
@pro-src  very good idea!

[2019-03-02 14:17] #81 closed

[2019-03-02 14:27] #88 closed

[2019-03-02 14:30] codemanki commented on #89
But why would i use this service if i have `"request": "^2.88.0"` in the package.json? It guarantees that version is always up to date

[2019-03-02 14:41] greenkeeper[bot] opened #97 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-03-02 15:32] Godzil commented on #41
Haven’t tried on the latest version but I suspect this issue still exist..

[2019-03-02 15:57] pro-src commented on #97
@codemanki, thats geek for travis-ci hasn't been enabled or there hasn't been any travis-ci builds at all yet. When you enable travis-ci, I would trigger a build on that page and follow up with greenkeeper. They really made that message verbose, lol.

[2019-03-02 17:30] codemanki commented on #97
@pro-src got it. so let's do it once 3.0 is released

[2019-03-02 17:31] codemanki commented on #41
@Godzil didn't mean to close it.

[2019-03-02 17:53] Godzil commented on #41
I know it was for the stall not to not close it :D

[2019-03-02 23:28] pro-src commented on #95
@codemanki Fair enough :smile:

[2019-03-02 23:28] #95 closed

[2019-03-02 23:29] pro-src commented on #89
Build failure notifications

[2019-03-02 23:38] pro-src commented on #89
@codemanki, if request was patched to version: `2.88.1`, cloudscraper tests would be ran during a new CI build for that version and we'll automatically know if it breaks because of CI notifications.

This explains it very well: https://blog.greenkeeper.io/greenkeeper-in-a-nutshell-what-it-does-how-it-works-124af9b18945

Also, once you realize how useful this, you might consider not using a caret-v

[2019-03-03 06:45] pro-src commented on #74
Since the v3.0.0 branch, I've reconsidered this and I don't think it wise to pass the request instance as the request options to the request constructor. There is too much potential for side effects but re-initializing the request in the form of a redirect is maybe still doable. I'm just saying we should be explicit about what we want to pass to the request constructor.

[2019-03-03 09:44] codemanki opened #99 "Prepare v3.0.0 release"
- [x] Rewrite README to reflect new changes
- [x] Add upgrade guide for 2.0 -> 3.0

[2019-03-03 11:53] pro-src opened #100 "Cloudflare community"
Pop a bag of :popcorn: and read this: https://community.cloudflare.com/t/5-seconds-javascript-challenge/63062/8
He's scared. :rofl:

[2019-03-03 14:09] codemanki opened #102 "Add test case for custom cookies"
https://github.com/codemanki/cloudscraper/pull/55

[2019-03-04 02:49] pro-src opened #104 "Rewrite tests to spy on real requests using a test server"
This is how the request library does their unit testing and makes thing simpler as we won't have to ensure that the fake request behavior exactly mimics the real request behavior. All tests were passing on the v3.0.0 branch but, due to the fake request callback behavior not exactly mimicking the real request callback behavior, cloudscraper didn't work properly with request-promise. This should mak

[2019-03-04 03:37] pro-src commented on #104
#103

[2019-03-04 05:44] pro-src opened #105 "(confirmed bug) Support the baseUrl request option"
Request will throw an error when the `baseUrl` option is set and `uri` is not a relative uri.
We would need to either remove the `baseUrl` option when setting `options.uri` to be the absolute challenge url or always set both `options.baseUrl` and `options.uri` but ensure that `uri` is a relative path.

[2019-03-04 06:04] pro-src commented on #104
@codemanki, what do you think about the following sample?
[code]

[2019-03-04 08:21] codemanki commented on #104
@pro-src that is an interesting idea. I was actually always doing testing like this with mocks and stubs. I think it would make sense to have a couple of tests like this, to exclude a scenario with callback bug, but frankly speaking, it also gives me a feeling that we would need to somewhat replicate the cloudflare's logic on out test server side.
🤔  but indeed it would make tests lighter and clea

[2019-03-04 10:53] #97 closed

[2019-03-04 12:03] greenkeeper[bot] opened #107 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-03-05 09:15] pro-src opened #108 "Tests fail in strict mode"
A few tests are currently failing in strict mode. This is due to `test/helper` freezing the fake request result and cloudscraper trying to update `response.body` in the `processResponseBody` function. We could fix this so tests don't rely on the fake request result being immutable and `test/helper` doesn't freeze anything at all. Although, it makes for less readable tests. If tests are rewritten a

[2019-03-05 09:22] pro-src opened #109 "Add global module "use strict" statement"
Related to #108

[2019-03-05 10:00] pro-src commented on #104
I can't get this to work for multiple requests in a single test. I think it's ***mocha*** and/or ***sinon-timers*** causing the problem. _I haven't tried this on CI_. When I attempt to debug this locally, the `setTimeout` statement in cloudscraper never calls back. `setTimeout` is executed but it just never actually calls it's callback. I've tried increasing the timeout with `this.timeout(100000)`

[2019-03-05 10:49] #75 closed

[2019-03-05 11:20] pro-src commented on #109
Github doesn't like me right now :laughing:

[2019-03-05 13:36] pro-src opened #112 "Ensure match isn't null for proper error handling"
This will bypass the error handling and result in an uncaught exception, potentially terminate the nodejs process, and/or not callback properly. It's unlikely to ever be null (other errors would occur first) but it should still be checked the same as other matches.
https://github.com/codemanki/cloudscraper/blob/28647b403aa267d22e6c3ab2839ec42296f91311/index.js#L209

[2019-03-06 05:10] pro-src commented on #74
Since we know we're likely to make serial requests to the same server after the first challenge, the forever request option might be a good default option for subsequent requests. It would enable `keep-alive`by default and thus increase the probability of connection reuse if the server doesn't explicitly close. If using this option, I think the agent should be reused as well. I'm not sure if socke

[2019-03-06 05:10] #74 closed

[2019-03-06 05:12] pro-src commented on #77
@codemanki, have you started work on this or can I take it?

[2019-03-06 05:21] pro-src commented on #105
The initial request will work with `baseUrl` as expected. It's the subsequent request in `solveChallenge` and `setCookieAndReload` that uses an absolute URI. If the `baseUrl` option is not removed before setting an absolute URI as the request URI, it will cause an invalid URI error when calling the request constructor. It should be removed if it exists before making a second request to fix this pr

[2019-03-06 08:58] codemanki commented on #112
Fixed by https://github.com/codemanki/cloudscraper/pull/113

[2019-03-06 08:58] #112 closed

[2019-03-06 12:09] Revadike commented on #99
Include a changelog maybe? The commit messages aren't that clear.

[2019-03-06 12:14] Revadike commented on #77
To what benefit? Perhaps it would cause cloudflare to identify you as a suspicious actor (and trigger recaptcha)

[2019-03-06 13:08] pro-src commented on #77
@Revadike, are you assuming this is done on a per request basis? As this package grows in popularity, using the same user agent for every user could potentially cause cloudflare to identify our users as suspicious actors just because they're using the user agent of this package. It's not uncommon to have a few different devices from the same IP address. If anybody wanted to use a specific user age

[2019-03-06 13:18] pro-src commented on #99
@Revadike There is a CHANGELOG.md on the master branch. It would be updated...

[2019-03-06 13:32] pro-src commented on #99
@Revadike also the changes can simply be summarized as it is now a drop-in replacement for `request-promise`.

[2019-03-06 14:12] pro-src commented on #99
@Revadike, here is a summary of the changes until we have a chance to update the changelog while we prepare this release.

* The error objects are now custom instances of Error and have additional properties.
  * `options` - The request options
  * `cause` - An alias for `error`
  * `response` - The request response
* The signature of get/post methods changed to match request-promise
* The `clouds

[2019-03-06 15:36] pro-src opened #115 "N/A"

[2019-03-06 19:07] codemanki commented on #99
@pro-src @Revadike i will include all these in the changelog

[2019-03-06 19:13] codemanki commented on #77
Could we maybe put this feature as off by default? I imagine that cloudflare receives so many requests per second, that they won't be blocking the UA that is by default right now.
And sending multiple UA from the same IP might potentially cause some troubles, especially if this behaviour is not explicitly described in the readme which no one would read. I sort of agree with @Revadike  that it migh

[2019-03-06 20:14] pro-src commented on #77
I definitely agree with holding off on it until we get v3.0.0 sorted. This is a library. If you don't want to read the docs then you shouldn't do a major version upgrade. It's the very reason why you perform a major version bump in the first place. I don't have any sympathy for people who neglect to read the docs in this particular case.

About whether or not this would cause problems. This is a f

[2019-03-06 20:25] pro-src commented on #77
@codemanki, so that a +1 for off by default but thats only because I don't want to delay v3.0.0.

[2019-03-06 20:36] pro-src commented on #77
@Anorov, do you have any thoughts on this?

[2019-03-06 20:42] pro-src commented on #99
@codemanki, I meant to say, why wouldn't you update the changelog _that you added to the master branch_. It goes without saying. I think @Revadike just didn't see it or doesn't realize that this hasn't been released yet.

[2019-03-06 22:13] pro-src opened #117 "errback should not be called with response and body"
If there's an error the callback shouldn't be called with extra arguments. The response and request options are set on the error object already and this differs from `request` and `request-promise`.

[2019-03-06 22:23] pro-src commented on #99
I think the greatest feature of v3.0.0 is being a drop-in replacement for request-promise but theres still a couple of issues standing in the way of that.

#105, #115, and #117

[2019-03-06 22:25] pro-src commented on #99
I should have these cleared up as soon as I know the answer to my question in #116

[2019-03-07 03:27] pro-src commented on #77
@codemanki, the UA blocking is a configuration option for Cloudflare site owners. It's only done on a per-site basis by the site owner. If Cloudflare detects an actual DDOS attack, things might be different. That said, if I happen to suspect that people are using cloudscraper on my cloudflare enabled site (I own one) without my permission, I'd personally configure Cloudflare to block the user agen

[2019-03-07 07:23] #115 closed

[2019-03-07 14:03] #78 closed

[2019-03-07 14:04] #79 closed

[2019-03-07 16:53] #102 closed

[2019-03-07 16:54] #100 closed

[2019-03-07 16:54] #48 closed

[2019-03-07 16:54] #23 closed

[2019-03-07 17:01] #44 closed

[2019-03-07 17:02] codemanki commented on #45
This was fixed :) thanks @smolleyes

[2019-03-07 17:02] #45 closed

[2019-03-07 17:02] codemanki commented on #54
This was fixed in 2.0.0. in 3.0.0 `challengesToSolve` will be exposed

[2019-03-07 17:02] #54 closed

[2019-03-07 17:03] #58 closed

[2019-03-07 17:03] #64 closed

[2019-03-07 17:20] codemanki commented on #42
@Josexv1 you can get the cookies from `response.headers['set-cookie']` https://stackoverflow.com/questions/34218141/how-to-get-cookies-from-request-module-in-node-js

[2019-03-07 17:20] #42 closed

[2019-03-07 22:03] Revadike commented on #77
https://github.com/codemanki/cloudscraper/issues/62

[2019-03-07 22:10] Revadike commented on #99
I actually have a small question. Can you use this library as a complete replacement for `node-request`? Earlier you couldn't use `request.defaults` and set `jar` to `true`, but you seem to have a solution for that now. I may be wrong about this, but I suspected it would always wait some seconds, even if the site didn't support cloudflare, therefore slowing down web requests for no reason. What I'

[2019-03-08 03:55] pro-src commented on #99
@Revadike

Yes but there a few open issues related to that.

Actually, that was never a problem. It will only wait if a challenge is detected but see #116 (I have to rebase that PR and its a WIP).

Yes but there are optimizations that the library user can make to request and/or cloudscraper, depending on their use case. The setTimeout delay is eventually going to be parsed out and I have another i

[2019-03-08 05:04] pro-src commented on #99
@Revadike, I thought that I should mention that there is not any stream support. So you can't pipe things around or listen to data events. I had initially added this but dropped it because it kills maintainability. At one point, I almost had `request`'s entire unit test suite passing for cloudscraper but it was a mess. If you must use `request` and not `request-promise`, you can use the `requester

[2019-03-08 07:48] pro-src opened #118 "Validate the cloudflareTimeout option and add timing test"

[2019-03-08 09:25] pro-src opened #119 "Add short description to errors of type CloudflareError."

[2019-03-08 11:12] #119 closed

[2019-03-08 17:46] pro-src commented on #62
@Revadike, we haven't forgot about this. My priorities are functional bugs before feature bugs but I might have a PR ready by Monday. Feel free to beat me to it.

[2019-03-08 19:22] #99 closed

[2019-03-08 19:22] codemanki commented on #80
@pro-src i want to take care of this one if you don't mind

[2019-03-08 19:33] pro-src commented on #80
@codemanki, for sure. :muscle:

[2019-03-08 19:42] codemanki commented on #80
@pro-src so let's maybe split the tickets between us, so you don't work alone? Maybe you could comment on the issues you want to work on, and the ones that you leave for me?

[2019-03-08 19:54] pro-src commented on #80
@codemanki, cool, to add to that, if they're assigned to you, I'll leave it for ya. I plan on helping to close the current issues and taking a second glance at stream support before I go back to the project that depends on cloudscraper. I've enjoyed working on this a lot. If you need me to tackle any issue, just can just assign me an issue. :100:

[2019-03-08 20:05] pro-src commented on #104
@codemanki, I don't currently have a solution for this but here a minimum test case:
[code]

I think Mocha is to blame and not sinon-timers. I'm pretty sure it's due to Bluebird waiting until the next event loop but Mocha shouldn't be fumbling the ball with that. So, I am trying to figure this out but if I start work on a PR, I'll let you know in advance. Feel free to take this.

[2019-03-08 20:10] pro-src commented on #107
@codemanki, let me know if you need any assistance with this. I've set it up a few times and with greenkeeper-lockfile. I'm also familiar with the greenkeeper codebase.

[2019-03-08 21:20] #107 closed

[2019-03-08 21:21] codemanki commented on #107
@pro-src i'm not sure what is going on tbh. I have triggered a reset for the third time just now. Let's see if greenkeeper will create a PR

[2019-03-08 21:21] codemanki commented on #104
@pro-src thanks!

[2019-03-08 21:23] codemanki commented on #80
@pro-src  awesome :) thank you again for your work and time! I feel now more motivated to continue working on cloudscraper and gonna add requested by the community features

[2019-03-09 02:01] pro-src commented on #104
@codemanki, welcome. This is the issue: https://github.com/sinonjs/sinon/issues/1739

[2019-03-09 05:22] pro-src opened #124 "Allow response streaming"
Related to #76

Currently there is no support for streams. You cannot pipe to/from requests or listen to data events. However, all of cloudflare's responses that need to be handled by cloudscraper are 5xx, have `response.headers['server'] === "cloudflare"`, and a content-type header of text/html. This is irrespective of whether or not those responses contains challenges, captcha, etc.

 We can bra

[2019-03-09 05:30] pro-src commented on #124
I think one option of solving this entirely is to return our own custom event emitter instead of the real request instance and relay events as necessary. I view this option as being problematic because the real request instance is a readable stream and has methods/properties that are neither explicitly public nor private.

[2019-03-09 07:03] #89 closed

[2019-03-09 12:30] #117 closed

[2019-03-10 06:32] pro-src opened #128 "Increase NPM package quality score to 100%"
We're almost there but we can improve this further!

Quality Score: 83%

* Tests (0.6 === 100%)
* Health 100%
* Carefulness 92%
* Branding 0%

[As returned from npmjs.com's api ](https://api.npms.io/v2/package/cloudscraper)  [ [tree viewer](https://jsoneditoronline.org/?id=6e4cf838ad8e44a585e4eac7e4fc9e9c) ]
[code]

There are at least 4 badges in the master branch's README.md so the branding will

[2019-03-10 06:35] pro-src commented on #128
@codemanki, I now see cloudscraper when I search for "cloudflare" on npmjs.com!

[2019-03-10 09:31] pro-src commented on #105
@codemanki, I'd like to tackle this one.

[2019-03-10 09:40] pro-src commented on #118
@codemanki, I'd like to begin work on this as well.

[2019-03-10 11:03] pro-src opened #130 "Add missing contributors to readme"
A couple guys aren't mentioned: https://github.com/codemanki/cloudscraper/graphs/contributors
Please remove the special attribution to myself so as not to devalue the other contributions. The way I see it is every contribution, no matter how small, matters just as much. Plus one line of code can be a very big deal.

[2019-03-10 11:49] pro-src commented on #130
@codemanki, this should be removed from the README:

[2019-03-10 12:18] codemanki commented on #130
I'm really grateful for what you did and how much work and time you invested in cloudscraper. And this was the way to show my appreciation.
I will add missing people to the readme and if you strongly wish, i will remove the attribution to you. Please let me know

[2019-03-10 12:19] codemanki commented on #128
Oh my. I didn't even know that you should do a SEO in npm. Crazy days :D

[2019-03-10 12:20] #128 closed

[2019-03-10 12:23] pro-src commented on #130
Ya, I'm sure. It'll go to my head and it's too big already. :stuck_out_tongue_closed_eyes:

[2019-03-10 12:30] pro-src commented on #128
Well, typically it's not necessary. If the project is modern, very active, and maintained properly, it naturally has a high score. However, double checking this to ensure that the package isn't several pages deep for the most common search terms is a excellent idea and as the package maintainer, things like quality and maintenance are completely under your control.

[2019-03-10 13:56] #76 closed

[2019-03-10 14:40] pro-src commented on #62
@codemanki @Revadike I've thought about this and I'm not sure what is desired in terms of API.

Perhaps introduce `cloudscraper.solveCaptcha`? How do you imagine that working? @codemanki is already working on separating the parsing from the main library. Would simply adding a method to extract the links to the captcha's images be enough? Something along the lines of `cloudscraper.extractCaptcha`?

[2019-03-10 15:45] pro-src commented on #77
This [comment](https://github.com/Anorov/cloudflare-scrape/issues/60#issuecomment-225327356) by @Anorov is relevant. Who seems to have unsubscribed... Maybe he is jelly? :laughing:

[2019-03-10 17:17] Revadike commented on #62
All we need is the `url` of the site (which we should have already) and the `site-key` value of the recaptcha. So you need to provide use with the site key. What I suggest, you also provide us with a function/callback, where we have to pass the recaptcha solution (`g-recaptcha-response` in the form) in as parameter.

Or what about this: Add an option for captcha handler, like this
[code]

[2019-03-10 17:24] pro-src commented on #62
@Revadike Another option is to emit a captcha event and if nobody is listening throw an error. This would work the same way as error events. If somebody is listening, expect them to handle the captcha otherwise throw a CaptchaError. If a handler is present(listening), the instance(cloudscraper) would remain idle until a method is used to continue processing the request.

[code]

[2019-03-10 17:26] Revadike opened #132 "[Bug] [V3] Option json"
Setting `json` option property to true, seems to return the string `[object Object]` as `body`.

From `node-request` README:
[code]

[2019-03-10 17:33] Revadike opened #134 "[Bug] [V3] Option body"
Using passing Object as body option will result into this error:
[code]

[2019-03-10 17:35] codemanki commented on #134
@Revadike thanks for reporting! Could you please also share the code that causes this issue?

[2019-03-10 17:38] codemanki commented on #132
@Revadike same as for https://github.com/codemanki/cloudscraper/issues/134, would you please share the code?
I've just tried `cloudscraper.get({url:'https://iload.to/', json:true})` and it worked fine for me returning body as string

[2019-03-10 17:39] Revadike commented on #134
Uh, sure.
[code]

[2019-03-10 17:40] Revadike commented on #132
Well, the fact that the body is a string and not a parsed JSON object already indicates the `json` option doesn't work as intended.

[2019-03-10 17:45] codemanki commented on #132
@Revadike oh, i see.
`cloudscraper.get({url:'http://country.io/continent.json', json:true})` this results in the `[object Object]`. But if i remove the json flag, it returns proper object

[2019-03-10 18:08] codemanki commented on #132
@pro-src it looks like before recent changes clouscraper always expected either Buffer or String as a body, but request's documentation explicitly states that : `The third is the response body (String or Buffer, or JSON object if the json option is supplied)`

So i would suggest to check for `options.json` in `processResponseBody` method (https://github.com/codemanki/cloudscraper/blob/master/index

[2019-03-10 18:09] codemanki commented on #132
@Revadike while we prepare the fix, you could just remove `json: true` and it will continue working as expected.

[2019-03-10 18:10] codemanki commented on #134
@Revadike `body` should now be `formData` as in request - https://github.com/request/request#multipartform-data-multipart-form-uploads

[2019-03-10 18:17] pro-src commented on #132
@codemanki, sounds good. The body should always be an object and never a string because the encoding option is set to `null` but the additional check for sanity is a good idea.

[2019-03-10 18:21] pro-src commented on #62
Unless there is new suggestions, this is what I think the API should be:
[code]
Or equivalently:
[code]
if nobody is listening for the captcha event, cloudscraper will throw a CaptchaError.
The captcha event listener, if it exists, will be called with response and callback as it's arguments.
The `response.captcha` property will not be created unless somebody is listening for the captcha event.
If

[2019-03-10 18:30] pro-src commented on #134
Actually, thats valid usage, from request [options](https://github.com/request/request#requestoptions-callback):

[2019-03-10 18:44] pro-src commented on #134
This indeed seems to be a problem with `request` and not cloudscraper. The same thing happens when using `request` directly.

[code]
or
[code]

[2019-03-10 18:53] pro-src commented on #132
@codemanki, also note that this has nothing to do with v3. It was always an error but we get to fix it now. :smile:

[2019-03-10 19:47] pro-src commented on #134
@Revadike Alright, lol, I got thrown off by this issue but the deal here is that you must add  `json: true` if body is an object. This is not a problem with cloudscraper. Please open an issue about the documentation at https://github.com/request/request/issues

@codemanki Please close this issue.

[2019-03-11 08:40] codemanki commented on #62
@pro-src so we won't support recaptcha in callbacks ( if cloudscraper is used with callbacks and not with promises) ?

[2019-03-11 08:45] #134 closed

[2019-03-11 08:46] pro-src commented on #62
@codemanki The request instance that we return from `cloudscraper` is always an instanceof EventEmitter and we could emit that event if somebody is listening in either of those cases. I don't like the way that looks at all though. :disappointed:
[code]

[2019-03-11 08:55] codemanki commented on #62
@pro-src then it is fine. After all this is a very great feature to have, and even if using it would require a developer to have callbacks and an event listener, it is still awesome feature :D

[2019-03-11 08:55] codemanki commented on #62
BTW, found this in anti-captcha api docs:
https://anticaptcha.atlassian.net/wiki/spaces/API/pages/6029327/Forms+with+Recaptcha.+Submit+automation+scheme.
https://anticaptcha.atlassian.net/wiki/spaces/API/pages/9666575/Reproducing+Recaptcha+validation+without+digging+the+HTML+source

Something to consider

[2019-03-11 09:37] #108 closed

[2019-03-11 09:37] #109 closed

[2019-03-11 09:37] #132 closed

[2019-03-11 11:12] pro-src commented on #100
@codemanki Cloudflare's employees are collaborating with us :rofl:

Check @buro9 out, he's watching the repo, just cloned, and even fixed a link in the README.md
I'm serious. The commit was like 15mins ago! :rofl:

[2019-03-11 11:19] buro9 commented on #100
I do work for Cloudflare, wasn't watching this repo. But used to watch the python one and saw a comment there mentioning this. I was curious as to whether this is a new technique and it's not, but thought I'd fix your broken help link :)

Happy to answer questions if you have any, but not looking to disrupt your work. Whilst I'm not in the team that deals with the JavaScript challenge I know of no

[2019-03-11 11:45] pro-src commented on #100
@buro9 You're awesome! Just curious, do you have any insight into this [comment](https://github.com/Anorov/cloudflare-scrape/issues/60#issuecomment-225375780). Would you agree that the javascript challenge's code addition, at that time, served no other purpose other than to foil attempts at scraping? Also, could you recommend any support documents that might by of interest? :D

[2019-03-11 11:53] buro9 commented on #100
I don't have insight into motive behind changes and don't wish to speak uninformed on behalf of whomever did the change at that time.

[2019-03-11 11:55] pro-src commented on #100
Fair enough. Thanks

[2019-03-11 15:23] #130 closed

[2019-03-11 18:32] #105 closed

[2019-03-11 21:26] pro-src commented on #128
@codemanki, I was wrong! I'm sure am glad I was too! Check it out: https://www.npmjs.com/search?q=cloudflare

It's the second result! It would be the first listing but the exact name match is unbeatable. We've achieved 100% quality and 100% maintenance!!! :tada: :champagne: :sparkle:

[2019-03-12 11:42] pro-src opened #139 "Create a Cloudscraper class for proper state management"
Currently we have no other way to store state besides modifying the request options and/or passing additional arguments to every function.

I suggest that we create a new class instance here:
https://github.com/codemanki/cloudscraper/blob/aa65e637582ebfc0523e82498489e3b9116bd0b8/index.js#L39

All current functions would be converted to methods and state would be stored on the class instance. The i

[2019-03-12 12:07] Revadike commented on #62
Hmm, but this is per request. Wouldn't it be nice to have 1 listener for all captcha requests and handle them? I think that would be a bit better than adding 1 line to every request you want to solve captchas for.

[2019-03-12 12:15] pro-src commented on #62
@Revadike I'm not sure what you mean. You can always reuse the listener function and unless you have different cloudscraper calls all over your code base, how would that be useful? The same thing could be said about options. I use xyz option everytime I call cloudscraper. Wouldn't it be nice if I didn't have to pass xyz at all? Solution: Create a wrapper.

[2019-03-12 12:26] pro-src commented on #62
@Revadike I know of at least one framework that is considering using cloudscraper but wouldn't it make more since for this to be done on a per plugin basis? It's not like they're going to pay the anti-captcha.com bills for every plugin author.

[2019-03-12 18:39] pro-src commented on #62
@Revadike does have a point and I'm leaning towards his suggestion of passing a captcha handler to cloudscraper as an option. This way the `defaults` function may be used to avoid having to create wrappers. This also would support usage of cloudscraper in frameworks.

[code]

Does it still make sense if we're emitting other events?
* error
* response
* redirect
* cloudflare-response
* cloudflare-c

[2019-03-12 19:43] #118 closed

[2019-03-13 20:58] pro-src commented on #139
@codemanki, do I have the go-ahead on this?

[2019-03-14 16:20] abuyasin82 opened #141 "Can't update to newer version"
I'm trying to update the packet to the newer version 3 but still won't upgrade the 2.0.1 version

[2019-03-14 16:23] abuyasin82 commented on #141
never mind, I had to remove the packet and install it again to get the new version

[2019-03-14 17:48] codemanki commented on #141
@abuyasin82 i have just released 3.1.0 with a fresh fix for CF challenge. You might want to update the package once again

[2019-03-14 17:48] #141 closed

[2019-03-14 19:40] Netskyes opened #142 "Unexpected end of input"
Hey, I'm getting the following error:
errorType: 3, error: 'Error occurred during evaluation: Unexpected end of input'

I believe since 2 days ago, the challenge has been updated?

[2019-03-14 19:46] pro-src commented on #142
@Netskyes It's already been updated. Try `npm install --save cloudscraper@3.1.0`

[2019-03-14 20:30] Netskyes commented on #142
@pro-src I did, but still getting that error :)

[2019-03-14 20:31] Netskyes commented on #142
Nevermind seems like it was cached, thanks for the help :)

[2019-03-14 20:47] Netskyes commented on #142
Hey, noticed a new issue now, for some reason a page that should return total of 3mb body, returns 6.9mb now.

[2019-03-14 20:50] pro-src commented on #142
@Netskyes Hmm, so long as the page being requested is returned, I doubt that it's an issue with cloudscraper but if you'll put it in a pastebin I'll check it out for ya.

[2019-03-14 20:52] pro-src commented on #142
@Netskyes Also, it would be better if you closed this issue since it's been solved and open a new one. :)

[2019-03-14 20:53] Netskyes commented on #142
@pro-src Sure, thank you! :)

[2019-03-14 20:53] #142 closed

[2019-03-14 21:01] Netskyes opened #143 "Getting bigger body response than actual"
Hey, the response body is bigger than expected, if you go to from browser to http://osbot.org/mvc/get and see the response body, you'll see the size is different than when getting with cloudscraper. Thanks :)

[2019-03-14 21:16] pro-src commented on #143
@Netskyes If I had to guess, you're not setting the `encoding` option. It defaults to utf8 which means the response is converted to a string which shouldn't be done for jar files. This is how `request/request` and `request/request-promise` work by default. Since cloudscraper uses `request-promise` you can expect the same behavior.

It should work properly if you account for the file type that you'

[2019-03-14 21:40] Netskyes commented on #143
Thanks a lot @pro-src that was it, weirdly though previously I didn't set encoding and it worked fine, issue solved nonetheless :)

[2019-03-14 21:40] #143 closed

[2019-03-15 15:16] abuyasin82 commented on #141
thanks man the new update works as a clock

[2019-03-15 15:52] pro-src commented on #104
@codemanki, It seems obvious now that the best way to solve this problem is just to stop using sinon-timers and reduce the cloudflareTimeout in tests to something like ~1ms. I'm going to start working on this.

[2019-03-16 16:49] pro-src commented on #62
Cloudflare is doing something extra?
This is the parsed querystring that is sent to `/cdn-cgi/l/chk_captcha`
[code]

I don't think services like anti-captcha will provide the `bf_` values. AFAIK, all of that information can be easily extracted or calculated except for the `bf_result_hash`. Does anybody know anything about those extra fields?

[2019-03-16 17:30] pro-src commented on #62
Yikes, Cloudflare has a bot-filter script that runs in an iframe and only if the runtime passes inspection is the `results` event emitted on the window. The `results` event contains the required `bf_` values. The only way to bypass these recaptchas(v2) is if you first bypass the bot-filter...

[2019-03-16 17:45] pro-src commented on #62
@codemanki While we could bypass this bot filter, I don't like the idea of maintaining it. I think this issue can be closed.

Here's a gist of the bot-filter: https://gist.github.com/pro-src/8e060254d6281a7d93a5d9d02e369574

[2019-03-16 17:55] Revadike commented on #62
Maybe, but a bot-filter sounds an awfully lot like anti-scraper, hence its something you should handle.

[2019-03-16 18:15] pro-src commented on #62
@Revadike It could be something that we'd like to handle but that doesn't make it our responsibility to do such. Personally, If I was to provide a solution for this version of the bot-filter, it'd be without any promise of maintenance. I think the discussion needs to be whether or not we're willing to maintain this feature before we introduce it.

[2019-03-16 19:02] pro-src commented on #62
@Revadike <strike>I need to research this a bit more but it might be possible for the user to provide the `bf_result_hash`. This is assuming that there isn't multiple versions of the bot-filter challenge active at the same time, meaning you always get the same bot-filter unless it's been updated. If thats the case, you could simply copy the value from your browser, provide that value to cloudscrap

[2019-03-17 13:32] #139 closed

[2019-03-17 16:28] pro-src commented on #41
This a deobfuscated version of `/cdn-cgi/scripts/********/cloudflare-static/email-decode.min.js`
Here's a gist of the original: https://gist.github.com/pro-src/1819f43cc272d77596156e0410a74c67#file-email-decode-min-js

[code]

@codemanki We could add a `decodeEmails` boolean (off by default) option. If the response content type is `text/html`, update the `href` attributes and replace anchor elemen

[2019-03-17 16:35] pro-src commented on #41
Cloudscraper would
* Use regex to find anchors with class `__cf_email__`, reverse the simple xor cipher, and replace the entire anchor with the decoded email.
* Use regex to find anchors with a `href` attribute that starts with `/cdn-cgi/l/email-protection#`, reverse the simple xor cipher, and replace the `href` attribute value with the decoded email.

[2019-03-17 16:43] pro-src commented on #41
@Godzil What do you mean about a ton of Javascript? The only thing that I see is that they're dynamically replacing text content with anchor elements and scrambling the `href` attributes if there's an `@` symbol. This would only be an issue if you wanted emails? :thinking: Are you a spammer?

[2019-03-17 18:19] Godzil commented on #41
No I’m not a spammer, their “email protection” is working so badly that it take absolutely not valid email and screwed some of my scrapping, which cause an issue for the project I’m working on.

[2019-03-17 18:22] pro-src commented on #41
It won't be a problem once we merge this PR that I'm working on right now. :smile:

[2019-03-17 21:25] pro-src commented on #41
@Godzil You can use this for the time being:
[code]

[2019-03-18 03:43] pro-src opened #147 "Remove request module dependency in v4"
Why not let users provide their own request module? `request-promise` already has `request` listed as a peer dependency and displays a very descriptive error message when it can't import `request` so all that need be done is to remove `request` from the list of dependencies. Just saying, whenever v4 comes around it'd be nice.

[2019-03-18 13:53] pro-src commented on #104
:grey_question:

[2019-03-18 13:53] #104 closed

[2019-03-19 19:20] pro-src commented on #62
@Revadike I'm performing a more thorough investigation of the bot-filter. The security through obscurity does have me deterred from proposing/maintaining a solution as a feature of cloudscraper. This is mainly due to the fact that if they update it, I'll have to go through this entire process again. As you can see, it takes time. Are you interested in a solution to the bot-filter anyway?

[2019-03-20 17:23] elpaxel opened #148 "Cloudflare challenge loop"
20 min ago I've start getting: Cloudflare challenge loop error. I think it's because of "need to update ASAP":

@codemanki, I meant to make that case insensitive. It should be `.replace(/^\s*[a-z0-9_$]+\s*[=.].+/gmi, '')` but it mostly doesn't matter. What does matter is that these replacements can fail silently. If they fail silently, you'll get a Cloudflare challenge loop. I think we should upda

[2019-03-20 17:42] codemanki commented on #148
@elpaxel thanks for reporting this issue. Will look into it in a couple hours once i'm behind laptop

[2019-03-20 18:42] pro-src commented on #148
@elpaxel, would you mind try the fix in that PR?

@codemanki This isn't due to replacements failing but that comment is still kinda relevant. See my comment in #149

[2019-03-20 18:58] ArnaudPiroelle commented on #148
@pro-src it works ! I confirm ;)

[2019-03-20 19:00] #148 closed

[2019-03-20 19:02] codemanki commented on #148
The fix by @pro-src has been applied and i just released 3.2.0. Thank you @pro-src  :) 🚀

[2019-03-20 19:07] pro-src opened #150 "Use continuous integration to check Cloudflare challenge periodically."
First, We need a target that is protected by Cloudflare. I can provide one of my domains for this but I'd like for it's identity to remain hidden. You can define an encrypted environment variable via the web interface https://docs.travis-ci.com/user/environment-variables/#defining-variables-in-repository-settings or the cli-tool https://docs.travis-ci.com/user/environment-variables/#defining-encry

[2019-03-20 19:30] pro-src commented on #150
Actually, I'll do this on my own CI but configure it notify you as well. Hopefully, you won't get any emails about failed builds anytime soon!

[2019-03-20 22:40] pro-src commented on #150
There will need to be a PR so I can keep my fork in sync but it turned out to be really simple:
[code]

[2019-03-21 16:35] LittleWhiteYA opened #152 "Cannot read property 'charCodeAt' of undefined, atob is not defined"
[code]

version:
- 3.2.0 also happens.

Hi, I got these errors for few days.
Not sure how to solve it ...
has the challenge been updated?

[2019-03-21 20:26] pro-src commented on #152
@LittleWhiteYA The error in question does seem to indicate that your facing a unique challenge. Unique in that I can't reproduce it with sites that have IUAM enabled. I can't determine the source of the problem unless you provide the source of the page that contains the challenge. Please copy and paste the challenge page's HTML into a pastebin and share the link.

See how to view the page's source

[2019-03-21 20:34] pro-src commented on #150
After #145 is merged I'll send a PR for this

[2019-03-21 21:05] pro-src commented on #152
@LittleWhiteYA Nvm, I overlooked it. The challenge definitely has been updated.

[2019-03-22 05:14] pro-src commented on #152
@LittleWhiteYA Thanks for reporting this! The fix in #153 is pending review and a new version will be released soon.

[2019-03-22 06:07] pro-src opened #154 "Add dev-tool to generate bug reports"
This won't require much code and will save everybody a lot of time.

[2019-03-22 09:20] Be4t5 commented on #152
Thanks for the fix!

[2019-03-22 09:25] codemanki commented on #152
This issue has been fixed ( thank you @pro-src for saving the day. again :) ). `3.3.0` is now published

[2019-03-22 09:25] #152 closed

[2019-03-22 09:41] Be4t5 opened #155 "Ip banned work around?"
Hi, is there a way to avoid the error when the ip is blocked? Using a proxy maybe?

[2019-03-22 09:48] pro-src commented on #154
uhhu... :roll_eyes:

This uses 2 additional dev-dependencies and it doesn't create a pastebin as of yet. An anonymous pastebin can be created without additional dependencies with a one-liner but do we really want this?

[code]

[2019-03-22 10:01] pro-src commented on #155
@Be4t5
[code]

Do you mind sharing the error? I'm just curious.

[2019-03-22 20:38] pro-src commented on #155
@Be4t5 You also can check the error code and switch to using a proxy if you're banned.

Error code definitions: https://github.com/codemanki/cloudscraper/blob/master/errors.js

[code]

[2019-03-22 21:02] #154 closed

[2019-03-22 22:11] 3DSX opened #157 "DDoS"
How can i use this for DDoS a website with UAM on?

[2019-03-22 22:30] pro-src commented on #157
@3DSX First of all, that is not and never will be the intended purpose of cloudscraper.

Quoting from the article linked in #100:

***Judge said:***

Quoting from: http://ddosattackprotection.org/blog/is-ddos-illegal/

You'll find similar laws in other countries such as the UK: http://www.nationalcrimeagency.gov.uk/1256-ddos-attacks-are-illegal

[2019-03-22 22:31] pro-src commented on #157
@3DSX Please close this issue and refrain from asking similar questions. Thanks

[2019-03-23 10:44] #157 closed

[2019-03-24 07:29] cloudscraper-bot opened #160 "Scheduled build failed [cloudscraper bot]"
:rotating_light: The scheduled build has failed. :rotating_light:

Version: ^3.3.0
Stage: Test latest release
Event: push
Node: node
Build: https://travis-ci.org/cloudscraper-bot/cloudscraper/builds/510509086
Gist: https://gist.github.com/f52784557435d07f17bd50776f4bd63b

Raw Gist Files:
 * [error.yaml](https://gist.githubusercontent.com/cloudscraper-bot/f52784557435d07f17bd50776f4bd63b/raw/7634ac

[2019-03-24 07:43] pro-src commented on #160
This was just a test. It can be closed.

[2019-03-24 07:45] pro-src commented on #150
#160

[2019-03-24 07:45] #150 closed

[2019-03-24 11:15] #160 closed

[2019-03-24 11:16] #41 closed

[2019-03-25 20:12] pro-src opened #162 "Redundant checks?"
I don't think we need these anymore. Given that a cloudflare response with 503 status always contains a challenge, if both of these checks fail, it's possible that the challenge page would be erroneously returned without any error being thrown. If these checks are to be retained then an error should be thrown if they are false.
https://github.com/codemanki/cloudscraper/blob/1a6ad2a6f324a534046ca21

[2019-03-26 07:59] #162 closed

[2019-03-26 08:46] naorye opened #164 "Got an error on first attempt"
I am scraping 2000 urls and some of them got Cloudflare's page. I started my scraper and once I got Cloudflare's page, an error occurred:
[code]

Any idea what's wrong?

[2019-03-26 13:40] codemanki commented on #164
hi @naorye . Are you sure that this was your first request? 429 sounds like you made some prior requests from that IP.
Could you also please post the response headers for further investigation?

[2019-03-26 16:03] naorye commented on #164
Hi @codemanki, I am sorry, wasn't clear.
I meant that I tried cloudscraper for the first time and it threw an error.
I performed 100 GET requests, the 7th requests got cloudflare's page and that error was thrown.
...
When I am thinking about that, there is a possibility that previous requests also got cloudflare's page and it did work.

What causes this exception?

[2019-03-26 16:15] pro-src commented on #164
@naorye There was a very slim chance that the Cloudflare page could be returned. I raised that issue in #162 and @codemanki closed/fixed it with #163.

The status code error happens whenever the status code is not `200 OK`. If that should not be an error, you may pass the `simple: false` option to cloudscraper.

[code]

For more information on the `simple` option, see request-promise's docs: https

[2019-03-26 16:34] naorye commented on #164
@pro-src Is there a chance that cloudflare returns `429` code along with it's error page?

[2019-03-26 16:40] pro-src commented on #164
@naorye Yes but the challenge is always sent with 503 status so that error is mysterious. I ran the following test for a count of 50 and it didn't error at all. I can't reproduce this on the master branch so maybe we've already fixed it.

[code]

[code]

[2019-03-26 16:43] pro-src commented on #164
@naorye What version of cloudscraper are you using? Can you test with the master branch of this repository?
`rm -rf node_modules/cloudscraper`
`npm install --save 'https://github.com/codemanki/cloudscraper`

[2019-03-26 16:50] naorye commented on #164
@pro-src Tried with `simple: false` but then when I got cloudflares page, it doesn't manage to get to the page behind the protection. I am using "cloudscraper": "^3.3.0".
I'll try to install directly from github.

[2019-03-26 16:53] pro-src commented on #164
@naorye btw, thanks for reporting this. Can you please provide a minimal test case?

[2019-03-26 17:19] naorye commented on #164
I'll try to create a reproduction.

[2019-03-26 17:33] naorye commented on #164
Running the following threw an error on the 15th scrape. It might take longer.
[code]

[2019-03-26 17:49] pro-src commented on #164
@naorye I was able to reproduce this and we'll have a fix for this soon.

@codemanki I think we should handle the case of `429 Too Many Requests` by respecting the `Retry-After` header and partially revert #163 to re-include the `isChallengePresent` check irrespective of statusCode but only if `isCloudflare === true`. This may have been the one and only exception but to be safe...

[2019-03-26 19:03] pro-src commented on #164
@naorye The fix in #165 successfully scrapes all 100 of them. Can you confirm?

`npm install git://github.com/pro-src/cloudscraper.git#164_too_many_requests`

[2019-03-26 19:49] naorye commented on #164
Actually I have 2000 :)
I'll check it in two hours and will update.

Thanks!

[2019-03-26 20:24] pro-src commented on #164
@naorye I just thought to mention that your test case can be simplified by replacing:
[code]
With it's equivalent:
[code]

[2019-03-26 20:37] naorye commented on #164
Scraping 2128/2128 [============================================================] 100%

Done successfully!
Thanks!!

When do you plan to merge it to master branch?

[2019-03-26 20:47] pro-src commented on #164
Awesome! Once the PR is reviewed and if everything is good. (Probably less than 24H until a new NPM release) Thanks for your contribution!!!

[2019-03-26 20:49] naorye commented on #164
You are awesome! 🥇

[2019-03-26 21:03] codemanki commented on #164
Thank you guys for taking care of this. I will look through the PR tomorrow morning and will release a new version :)

[2019-03-27 03:19] pro-src opened #166 "No longer a port of cloudflare-scrape"
Cloudscraper :1st_place_medal:

While this was originally a port of cloudflare-scrape in 2014, Cloudscraper has diverged to the extent that I feel like the README is under selling it.

Now, lets give credit where it's due. The author of cloudflare-scrape was one of the first to publish a library to bypass IUAM. Kudos to him. Now that we've done that. Can we change the README message about cloudfla

[2019-03-27 08:01] #164 closed

[2019-03-27 08:11] codemanki commented on #155
Closing this one as the question has been answered

[2019-03-27 08:11] #155 closed

[2019-03-27 08:11] codemanki commented on #164
Done! `3.4.0` has been just published. Thank you @pro-src :)

[2019-03-27 08:14] codemanki opened #167 "Update README"
Add documentation about changes in 3.4.0

[2019-03-27 08:15] codemanki commented on #166
Hope they won't call this a challenge :D

Overall this sounds like a reasonable change. I will move that text to the bottom and will rephrase it  but will keep all the credits and kudos. Thank you for taking care of such things and cloudscraper ❤️

[2019-03-27 08:25] pro-src commented on #166
Ditto. I didn't really put that much thought into it, lets not provoke them. :sweat_smile:

[2019-03-28 02:57] pro-src opened #168 "challengesToSolve is not enforced for redirect challenges"
I've never encountered this type of challenge so I don't know if it's intentional or not. If these are served consecutively, I imagine that it could cause a loop.
https://github.com/codemanki/cloudscraper/blob/e0727c07a3d58bdc8f15417b5a4a1ce0980a2b72/index.js#L303

Edit: <strike>It's clear that it wasn't initially intended.</strike>

commit https://github.com/codemanki/cloudscraper/commit/971556fc

[2019-03-28 16:31] pro-src commented on #80
@codemanki I'm going to maintain a fork of cloudflare-scrape that will depend on this package. The idea is to keep this package as submodule in my fork: https://github.com/pro-src/cloudscraper.py and exclude the libs that aren't needed for parsing in the published package. This should work great so long as I don't have to include any of cloudscraper's dependencies. Although, I guess I could use so

[2019-03-28 18:58] cloudscraper-bot opened #170 "Scheduled build failed"
:rotating_light: The scheduled build has failed. :rotating_light:

Version: 3.4.0
Stage: Test latest release
Build: https://travis-ci.org/pro-src/cloudscraper/builds/513156114
Gist: https://gist.github.com/68547666b4ae87c57011d7609cc467af

Raw Files:
 * [error.yaml](https://gist.githubusercontent.com/cloudscraper-bot/68547666b4ae87c57011d7609cc467af/raw/d980b3e22a197edfa2efcb10fc972f80999350b9/err

[2019-03-29 02:10] pro-src commented on #170
They updated the challenge yet again. Maybe they'll revert it as fast as they did last time. The non-captcha challenge is a little deep in the gist history: https://gist.github.com/cloudscraper-bot/68547666b4ae87c57011d7609cc467af/d6fe37258ff032f86286fa9a94ed27100309e76a

[2019-03-29 12:51] codemanki commented on #170
@pro-src  thanks. looking into it now

[2019-03-29 13:57] thuan20002qnvn opened #171 "Image download ?"
Hi. How i can download an image from url with Cloudflare protect ? Thank you.

[2019-03-29 14:30] codemanki commented on #170
@pro-src 🤔 not sure what is wrong. I just checked website that is protected by CF and everything works fine. In your gist you missed the `<div style="display:none;visibility:hidden;" id="cf-dn-` part, and if i add it, then tests are green.
The challenge.html in the issue actually states that captcha is present in the page

[2019-03-29 16:44] pro-src commented on #171
Hi @thuan20002qnvn,

[code]

[2019-03-29 19:04] codemanki commented on #170
@pro-src Well then i can't repro it now. I get either captcha or solvable challenge

[2019-03-29 19:14] #171 closed

[2019-03-30 03:56] pro-src commented on #170
@codemanki I've haven't updated the yet bot but I wanted to share this code with you. It makes the JS challenge stupid simple. It should make life easier. :smile:

Code: https://gist.github.com/pro-src/fbf03cba4a8f6517395f7bc47dd494a7

Before: https://gist.github.com/pro-src/fbf03cba4a8f6517395f7bc47dd494a7#gistcomment-2875805
After: https://gist.github.com/pro-src/fbf03cba4a8f6517395f7bc47dd494a7

[2019-03-30 07:53] VeNoMouS commented on #170
@pro-src im just doing the same in python ;P nice job :)

[2019-03-30 07:55] pro-src commented on #170
Thanks

[2019-03-30 08:34] pro-src commented on #170
It's on NPM: https://www.npmjs.com/package/cf-debug

[2019-03-30 10:10] codemanki commented on #168
@pro-src hey. The initial idea was to only use `challengesToSolve` when actual challenge is solved, so we don't solve more than `X` in row. I guess if it is just a redirect then it is not considered as a real challenge.

[2019-03-30 10:38] #166 closed

[2019-03-30 10:38] #167 closed

[2019-03-30 10:47] #77 closed

[2019-03-30 23:03] Anarcht opened #173 "Today get error"
Hi, these days it has been working perfectly, but this afternoon, it has given this error:

I know perfectly that it does not solve captchas, but the page does not have the captcha activated, I have tried it from different ip, browsers, mobile.
Page is activated DDoS protection by Cloudflare 5 secs

`Unhandled rejection CaptchaError: captcha
    at validate (/volume1/homes/admin/node_modules/cloud

[2019-03-30 23:33] pro-src commented on #170
@codemanki It's the querystring param order thats causing this problem. #173 is probably a duplicate.

It should be `?s=&jsch_vc=&pass=&jsch_answer=` instead of `?s=&jsch_vc=&jsch_answer=&pass=`

[2019-03-30 23:42] pro-src commented on #173
Cloudscraper version?

I think this is a duplicate of #170 and we should have a fix for it soon.

[2019-03-30 23:49] Anarcht commented on #173
Last version install for npm: 3.4.0

Few minutes ago, i try a clean installation, but I have the same error.

Ok!! Very thanks.

[2019-03-31 01:21] pro-src commented on #173
@Anarcht can you provide a URL where Cloudscraper fails for testing purposes? I have a fix but I haven't been able to confirm it.

Also, if you'd like to test the fix:
[code]

[2019-03-31 03:07] Anarcht commented on #173
I have placed the command as you have written to me, and it has been updated.
Unfortunately, to try we'll have to wait a few hours, because as I said in the first post, when the web has a high load, it is when activate the DDoS protection by Cloudflare 5 secs

We will wait about 10 hours or hopefully something less.

I will tell you, thank you very much.
Greetings.

[2019-03-31 05:59] pro-src commented on #170
@codemanki Since this issue has been validated, I'm considering leaving the bot mostly as is but with better reports using cf-debug, etc. Let me know if you agree and I'll renable it. If you think it's too uncertain, I can restrict it to parser errors. Lemme know.

[2019-03-31 09:09] pro-src commented on #173
@Anarcht I've confirmed the fix in #174 but you'll want to re-run those commands before testing it. There will be a new release soon anyways so no worries :+1:

[2019-03-31 10:34] #170 closed

[2019-03-31 10:34] #173 closed

[2019-03-31 11:30] codemanki commented on #173
@Anarcht `3.5.0` was released. Thanks @pro-src for adjusting the challenge solver!

[2019-03-31 12:34] Anarcht commented on #173
@codemanki Installed 3.5.0, very thanks to @pro-src and you for work!!

[2019-03-31 20:00] pro-src commented on #170
@codemanki :point_up:

[2019-03-31 22:16] pro-src commented on #62
I've been busy but I'll get back to this eventually.

[2019-04-01 14:10] pro-src commented on #168
Isn't it safe to remove that function entirely? I think this library is the only one that still supports it.

[2019-04-01 18:57] newt-sc opened #176 "Captcha error returned"
Trying the lib for https://movcr.cc is returning captcha error. First reported in: https://github.com/Anorov/cloudflare-scrape/issues/217#issuecomment-478693967

[2019-04-01 19:18] newt-sc commented on #176
Should I use those headers or get the ones from my own browser?

[2019-04-01 19:19] pro-src commented on #176
You can impersonate me, it's cool. :smile:

[2019-04-01 19:19] newt-sc commented on #176
Cool I am closing the issue.

[2019-04-01 19:19] #176 closed

[2019-04-02 13:42] pro-src commented on #80
@codemanki So this looks great: https://pypi.org/project/cloudscraper/ but is still in the planning phase ofc. Have you made any progress on this? I don't mind sending a PR if you don't have the time. Anyway, I'm looking forward to bringing these two projects together.

[2019-04-02 13:48] codemanki commented on #80
@pro-src I'm a bit busy this week. If you have any work in progress, please feel free to create a WIP PR if you want

[2019-04-02 13:51] pro-src commented on #80
I don't mind giving you a few weeks. I'll focus on other issues, circle back, and send a WIP if there's not one already.

[2019-04-02 13:53] codemanki commented on #80
@pro-src you would want to use these changes in your project? Maybe you could adjust the name of your project a bit, like `cloudscraperPy` or so, to remove the confusion?

[2019-04-02 13:55] pro-src commented on #80
Thats what I've done with the repo. Since it will depend on cloudscraper, I thought it would be less confusing to have the python version of the same name. `cloudscraper.py` !== `cloudscraper.js` but in the code, it's cloudscraper.

[2019-04-02 14:05] codemanki commented on #80
@pro-src okay then. Maybe we could crosslink the libraries in the readmes, mentioning python and js versions :)

[2019-04-02 14:06] pro-src commented on #80
That's dope.

[2019-04-02 14:08] codemanki commented on #80
Then please give me some time to work on this feature.

[2019-04-02 14:11] pro-src commented on #80
@codemanki If you wanted to create an organization repository in the future, I could transfer ownership of cloudscraper.py to you.

https://github.com/cloudscraper/cloudscraper
https://github.com/cloudscraper/cloudscraper.py

I would require commit access to `cloudscraper.py` ofc. Just something to thing about.

[2019-04-02 17:36] Revadike opened #177 "[Bug] HEAD method"
It returns `200, OK` as error with this rejection:
[code]

[2019-04-02 18:06] codemanki commented on #177
👀 looking into this

[2019-04-03 00:01] pro-src commented on #177
@Revadike Thats not a bug. You're performing a HEAD request on a Cloudflare protected site. How could we bypass a challenge when the response doesn't contain a body (It's a HEAD request) and doesn't contain a challenge? The reason you got the error is because it sent a challenge. You need to bypass at least one challenge before sending such a request and I don't know why you would want to. However

[2019-04-03 00:11] pro-src commented on #177
To be clear, even with the prerequisite headers/cookies, there is no way of knowing whether or not a challenge would've been sent because of this request type. However, what we can do is determine whether or not it's a cloudflare response and narrow it down to being either a server error or challenge. We're already doing that and thus the error. There isn't much we can do to improve this besides c

[2019-04-03 00:35] pro-src commented on #80
Also, please keep it in mind that I've already been waiting a month for something that you said you wanted to do. I've been really patient and reaffirmed that by saying that I'll wait for a few weeks. I might be reading a little too deep into it but the response that followed that affirmation.

Doesn't quite seem right to me. As if I was being impatient. I could send a PR to close this issue in a

[2019-04-03 00:47] pro-src commented on #177
Sorry, I still don't thing I've been clear enough :smile:

You were sent headers from Cloudflare and not the server that is being protected by Cloudflare.

[2019-04-03 07:41] codemanki commented on #177
@pro-src what would you suggest to do in this case then? Catch this specific case and add some description to the error? Or rather update docs explaining why doing Head/Options requests won't work as first requests to a protected website?

[2019-04-03 07:45] codemanki commented on #80
@pro-src regarding the comment you made and then removed, I understand your concerns, and I'm sorry for not keeping a lot of attention to fixing things, but as you pointed out I really want to contribute to the project even though I don't have enough time. I will create a PR this week and will try to unblock you asap. Sorry :(

[2019-04-03 07:49] pro-src commented on #80
It's understandable. thx for the kind response. If you can't get to it this week, I won't bug you. No worries :)

[2019-04-03 07:54] pro-src commented on #177
If we only throw an error, there is no guarantee that they will get this error during testing. If we only add it to the README, they might overlook it. At least if the error is descriptive, they'll know what went wrong so I suggest the former or both. I've been trying to think of a better way of handling this but I've got nothing.

[2019-04-03 08:28] pro-src commented on #177
@codemanki I think we can improve code readability and that stack trace by separating `processRequestResponse` into two functions: `onRequestResponse` and `onCloudflareResponse`
The former would call the latter if it's a Cloudflare response.

[2019-04-03 10:42] Revadike commented on #177
to clarify: The website I am trying to reach is (I think) not cloudflare protected, but I am only using cloudscraper as request substitute (it should be able to replace node-request right?)
I am performing a HEAD method to get the redirect URL.

[2019-04-03 10:44] pro-src commented on #177
@Revadike What version of cloudscraper are you using?

[2019-04-03 10:58] pro-src commented on #177
For the most part, yes but there is an issue with streams.

[code]

If the response contains a server header that is /^cloudflare/i without a body, you'll get that error.

[2019-04-03 11:08] pro-src commented on #177
@codemanki I guess we could automatically retry on HEAD requests like I've done in the snippet above. Maybe add a flag? `cloudscraper.defaults({ retry: ['head', 'get'] })` It could potentially bypass some header issues since Cloudflare isn't as strict after the cookie is set.

[2019-04-03 11:33] pro-src opened #179 "Cloudflare challenge updated"
@codemanki Ouput from cf-debug:
[code]

They added `g = String.fromCharCode`. <strike>We'll need to update the regex that strips statement to retain it.</strike> @VeNoMouS

[2019-04-03 12:22] grasssnake123 opened #181 "how to download binary files"
how to download binary files and store it in local machine.
code:
`var cloudscraper = require('cloudscraper');
var fs = require('fs');
cloudscraper.get({ uri: 'https://subscene.com/content/images/logo.gif', encoding: null }).then(bufferAsBody => fs.writeFileSync('./image.gif', bufferAsBody));`

i keep getting this error:

[2019-04-03 12:24] pro-src commented on #179
@doko-desuka :rofl:

[2019-04-03 12:31] VeNoMouS commented on #177
re streams... doesn't stream being "keep-alive"?

[2019-04-03 12:33] VeNoMouS commented on #179
those dirty bastards ;P I only just got home from the misses its 0130 i'll update in the morning ;P

[2019-04-03 12:34] pro-src commented on #181
Duplicate of #179

[2019-04-03 12:37] VeNoMouS commented on #179
fuck it... updated dev branch..

[2019-04-03 12:50] pro-src commented on #177
I'm not aware of any such breakage. I'm primarily talking about node's streams which don't have to be socket or file related.

[2019-04-03 13:00] pro-src commented on #177
@Revadike Just to make sure that I'm not over looking something, do you mind sharing the response headers?
[code]

[2019-04-03 13:07] VeNoMouS commented on #177
@pro-src ah... anyway i was refering to this https://en.wikipedia.org/wiki/HTTP_persistent_connection#Keepalive_with_chunked_transfer_encoding

[code]

[2019-04-03 13:18] grasssnake123 commented on #179
which file and lines that should be updated?
i have no clue...

[2019-04-03 13:19] pro-src commented on #179
@grasssnake123
[code]

[2019-04-03 13:20] pro-src commented on #179
There will be a new release soon so remember to install cloudscraper from NPM once it's published with the fix.

[2019-04-03 13:41] grasssnake123 commented on #179
@pro-src
thanks
it works now

[2019-04-03 13:53] #179 closed

[2019-04-03 13:53] grasssnake123 commented on #179
@pro-src
new error after repeated request:
Unhandled rejection CaptchaError: captcha
    at validate (/../nodejs/node_modules/cloudscraper/index.js:212:11)
    at processRequestResponse (/../nodejs/node_modules/cloudscraper/index.js:180:5)
    at Object.onceWrapper (events.js:281:20)
    at Request.emit (events.js:193:13)
    at Request.<anonymous> (/../nodejs/node_modules/request/request.js:1161:

[2019-04-03 13:55] pro-src commented on #179
@grasssnake123 Copy headers from your web browser to use with cloudscraper. If you're still having issues, lets us know.

[2019-04-03 13:57] codemanki commented on #179
3.6.0 has been released. @pro-src saves the day :)

[2019-04-03 14:22] grasssnake123 commented on #179
@pro-src
Adding this header, seems works great now
[code]

[2019-04-03 17:30] Revadike commented on #62
How would one go about getting the HTML string when encountering a captcha error? I'm gonna look into this myself.

[2019-04-03 21:26] doko-desuka commented on #179
Hi @pro-src, I know you meant the shout-out as a joke, but still, you were thinking about me, in a way. Thanks for the heads up.

[2019-04-03 21:29] pro-src commented on #62
@Revadike
[code]

[2019-04-03 21:32] pro-src commented on #181
@grasssnake123 Do you mind closing this issue. codemanki and I are playing wack-a-mole with issues lately because Cloudflare has been updating more frequently than ever before.

[2019-04-03 21:33] pro-src commented on #179
@doko-desuka It was double entendre. You're welcome. :)

[2019-04-03 23:49] pro-src commented on #62
Examples: https://github.com/codemanki/cloudscraper/pull/182/files

[2019-04-03 23:55] pro-src commented on #181
Examples: https://github.com/codemanki/cloudscraper/pull/182/files

[2019-04-04 04:13] #181 closed

[2019-04-04 07:24] codemanki opened #183 "Update docs"
For https://github.com/codemanki/cloudscraper/pull/169
And https://github.com/codemanki/cloudscraper/pull/182

[2019-04-05 01:40] pro-src commented on #177
@codemanki The issue I just linked is practically the same as this one but for cloudflare-scrape-js2py. What do you think about adding options: `{ retry: ['head', 'get'], retries: 1 }`. The user would specify which HTTP verbs we should retry on. A retry would consist of making a GET request on behalf of the user before retrying the original request and resolving with the result. We'd only ever ret

[2019-04-05 01:42] VeNoMouS commented on #177
Yea I think thats a good idea.

[2019-04-05 04:58] pro-src commented on #100
@buro9 Do you know anything that you'd care to comment about???

[2019-04-05 16:48] pro-src commented on #177
@Revadike
If the server is for some reason sending response headers that match `/^cloudflare/i.test(headers["Server"])`, I would just ignore the error.

[code]

I think this issue can be closed.

[2019-04-05 18:17] ProGamer13 opened #185 "Error with VM timeout"
FATAL ERROR: node::Watchdog::Watchdog() Failed to initialize uv loop.
 1: 0x8dc510 node::Abort() [node]
 2: 0x8dc55c  [node]
 3: 0x8df1a9  [node]
 4: 0x989539  [node]
 5: 0x90ed98  [node]
 6: 0x90f10c node::contextify::ContextifyScript::EvalMachine(node::Environment*, long, bool, bool, v8::FunctionCallbackInfo<v8::Value> const&) [node]
 7: 0x90f7ac node::contextify::ContextifyScript::RunInContext(

[2019-04-05 18:32] #185 closed

[2019-04-06 13:47] ProGamer13 opened #186 "pro-src"
pro-src what is ur email i want to contant with you.

[2019-04-07 08:56] #177 closed

[2019-04-07 08:56] #186 closed

[2019-04-07 10:26] #183 closed

[2019-04-07 16:25] greenkeeper[bot] opened #188 "An in-range update of mocha is breaking the build 🚨"
## The devDependency [mocha](https://github.com/mochajs/mocha) was updated from `6.0.2` to `6.1.0`.

🚨 [View failing branch](https://github.com/codemanki/cloudscraper/compare/master...codemanki:greenkeeper%2Fmocha-6.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mocha is a devDependency of this project. It **might n

[2019-04-07 20:29] gustavomauricio opened #189 "problem with response"
After the request the error comes as null but it doesnt return me a json, the response.body is just `<Error><Message>An error has occurred.</Message></Error>`. Any idea what the issue might be?

[2019-04-07 21:06] #189 closed

[2019-04-07 22:43] pro-src commented on #189
@gustavomauricio I'm guessing you figured this out hence why you closed the issue. For information, that response body seems to imply that the error wasn't due to cloudscraper but rather some API or server related error. Also, if `error === null`, the error didn't come from cloudscraper. Good luck.

[2019-04-07 23:00] pro-src commented on #188
This was due to a publishing issue and was fixed in `v6.1.1`: https://github.com/mochajs/mocha/releases/tag/v6.1.1

It can safely be ignored/closed.

[2019-04-09 19:37] codemanki commented on #80
@pro-src I don't know what to say, but it is not getting better. I'm currently overwhelmed with work and at the end of the day feeling braindead. Sorry for letting you down lately. If you already have this functionality already implemented, please make a PR and i will accept it asap.

[2019-04-09 20:08] pro-src commented on #80
You don't have to explain anything to me. That's just typical life. If you want more time, take it. I'm working on some other things right now anyway. But I don't want to impose it on you either. When I come back around to this, I'll check with you before working on a PR.

[2019-04-10 12:26] Majored opened #190 "Challenge evaluation failed due to unexpected token"
I'm receiving the following error while using Cloudscraper; only started happening in the last day or two. I've tested this with two different sites protected with CloudFlare, and receive the same message (haven't had time to test any more).

Sorry for the lack of information on this issue; just wanted to inform and/or see if this is an issue isolated on my end?

[code]

[2019-04-10 13:22] codemanki commented on #190
Hey! Thanks for reporting this. Could you please share the urls you are failing to scrape? If you don't want to do it here, just send me an email at `me@codemanki.com`

[2019-04-10 13:31] balimeister commented on #190
Same here!

URL: http://rmz.cr/

Unhandled rejection ParserError:
### Cloudflare may have changed their technique, or there may be a bug.
### Bug Reports: https://github.com/codemanki/cloudscraper/issues
### Check the detailed exception message that follows for the cause.

SyntaxError: Challenge evaluation failed: Unexpected token |

[2019-04-10 18:01] pro-src commented on #190
Cloudflare added an atob polyfill: `e("ZG9jdW1l") === "docume"`
[cf-debug](https://npmjs.com/package/cf-debug) output: https://gist.github.com/pro-src/08f53dc5c4504cf4981948b49831e553

@Venomous

[2019-04-10 20:40] pro-src commented on #190
@Majored If you like to confirm this fixed:
[code]

[2019-04-11 06:45] #190 closed

[2019-04-11 06:47] codemanki commented on #190
Thank you @pro-src ! `3.8.0` was just released

[2019-04-11 07:04] meet2amit opened #192 "Unhandled rejection ParserError"
Hello team
when we try today we got this message this already work before 2 days

`var cloudscraper = require('cloudscraper');

cloudscraper.get('https://app.smartapartmentdata.com/XML/GetInventory.aspx?licenseKey=xxxxxxxxxxxxxxx', function(error, response, body) {
  if (error) {
    console.log('Error occurred');
  } else {
    console.log(body, response);
  }
});`

### Cloudflare may have change

[2019-04-11 07:09] codemanki commented on #192
Hi Amit. Thanks for reporting this issue. I have released a new version with a fix literally 20 minutes ago. Please update to the `cloudscraper@3.8.0`, it should work now

[2019-04-11 07:12] meet2amit commented on #192
ok thank you for your quick update we will check and let you know

[2019-04-11 07:15] meet2amit commented on #192
Sorry to said you
But still getting same error can you please check one more time at if any change need?

[2019-04-11 07:35] pro-src commented on #192
@meet2amit The recent fix works but theres a bug related to timeout parsing. Specify the timeout.
[code]

And copy headers from your web browser to use with cloudscraper.
[code]

See https://github.com/codemanki/cloudscraper/tree/master/examples for more example

We'll have this fixed very shortly so be on the lookout for v3.8.1

[2019-04-11 07:50] codemanki commented on #192
3.9.0 is out with a fix!

[2019-04-11 08:09] codemanki commented on #192
Aaaaaand 3.9.1 is also out with an additional fix

[2019-04-11 08:59] meet2amit commented on #192
ok let me check

[2019-04-11 09:02] meet2amit commented on #192
Wrokin

working now

Really Appreciate your quick solution

Thank you

[2019-04-11 15:39] #192 closed

[2019-04-12 00:56] pro-src commented on #188
@codemanki Could we close this to prevent unnecessary notifications?

[2019-04-12 08:01] codemanki commented on #188
@pro-src is there a way to reduce the number of notifications from this bot and tune it to only deliver **important** updates? :)

[2019-04-12 08:03] #188 closed

[2019-04-13 00:03] pro-src commented on #62
This is back on my TODO list: https://github.com/VeNoMouS/cloudflare-scrape-js2py/issues/20#issuecomment-481199292

Cloudflare simply ignores the BF values so we don't have to bypass the BF afterall.

[2019-04-13 00:06] pro-src commented on #168
Is it safe to remove that function entirely?

[2019-04-13 00:53] Revadike commented on #62
I don't know what issue you're having, but this works just fine...

[code]

[2019-04-13 01:09] Revadike opened #194 "[Bug] Unhandled rejection with callbacks (no promise)"
If you use the callback methods, so not the promise way, when getting an error (first parameter of callback) a Unhandled rejection message is still being logged. This seems like unintended behavior.

[2019-04-13 01:16] Revadike commented on #194
For example:
[code]
and
[code]

[2019-04-13 01:19] Revadike commented on #177
Adding an exception for error.errorType === 2 works but I find that a dirty solution. Is there no better way to not throw an error when using HEAD method?

[2019-04-13 01:26] pro-src commented on #194
Maybe you should open these issues at https://github.com/request/request or https://github.com/request/request-promise since that is where this behavior is coming from.

If you don't want to use request-promise then use a different `requester`.
[code]

Feel free to close this issue. It's not a bug.

[2019-04-13 01:27] pro-src commented on #194
@Revadike This is covered in the examples as well...

[2019-04-13 01:29] pro-src commented on #62
I guess my problem would be trying to help you since I have no need whatsoever to solve any CAPTCHA. It's nice to see that you're using my code to get the job done. :+1:

Anyways, I had just commented that CF ignores the BF values. If you want to actually read that comment and the one that I linked. I myself had never tried solving the CAPTCHA due to the bot-filter but when somebody did. I updated

[2019-04-13 01:31] pro-src commented on #62
Also, cheerio is overkill for this purpose...

[2019-04-13 01:53] pro-src commented on #62
For anybody following this issue, if you attempt to solve these CAPTCHA, please be aware that you need to actually execute the bot-filter to get ***all*** of the form values.

[code]

As of right now, Cloudflare ignores the fact that you're not providing these values for some reason. I wouldn't expect this to always be the case. To be clear, you don't actually have to add the `bf_*` values when su

[2019-04-13 03:50] Revadike commented on #194
If callback is set, you need to catch any errors and call the callback with that error.

[2019-04-13 04:05] grasssnake123 opened #195 "CaptchaError: captcha on v3.9.1"
CaptchaError: captcha on v3.9.1
code:
[code]
error:
[code]

[2019-04-13 08:58] pro-src commented on #194
Tell https://github.com/request/request-promise your opinion. Or if you don't want to use request-promise... Don't use request-promise :+1:

[2019-04-13 09:00] pro-src commented on #194
If you want to send a PR, feel free to do so but like I said, it's not a bug.

[2019-04-13 09:06] pro-src commented on #195
@grasssnake123 Would like to try my PR to see if it resolves your issue? Mind you, It's still a WIP.

[code]

[2019-04-13 09:09] pro-src commented on #195
It works for me on https://subscene.com

Also be sure to add the following:
[code]

[2019-04-13 09:17] pro-src commented on #195
@grasssnake123 A little background on the PR is that Cloudflare has a ***ton*** of info on UA's and their respective headers. They added some clever checks to their Anti-Scrape shield and have been updating more recently than ever before. Anyways, we've had to collect some data to fix this properly but a solid solution is almost ready for release.

[2019-04-13 09:30] pro-src commented on #177
@Revadike we can take the same approach that @VeNoMouS took and send an additional request for you but no not really.

[2019-04-13 09:34] pro-src commented on #177
Basically we'd just catch that particular error, send a regular GET request for you then resend your HEAD request but that's only one verb where this particular issue is encountered. The same can happen for POST, OPTIONS, DELETE, etc.. I've been considering but I think it's just a more convenient dirty solution that could have some bad consequences if you're not aware of it.

[2019-04-13 13:06] pro-src commented on #195
@grasssnake123 Nvm, don't try that PR right now since some of the responses will be in the Brotli compressed format.

[2019-04-13 15:40] Revadike commented on #194
It has nothing to do with `request-promise`. This uncaught exception is on you.

I've taken a look at the source code, but it's very strange to me. It's really non-traditional JavaScript, at least what I am used to. Your code structure and style is very unique to other node.js projects I've seen. Like, why use listeners/observers with `request-promise`? Doesn't that defeat the whole purpose of the

[2019-04-13 20:16] pro-src commented on #194
@Revadike said:

You have no idea what you're talking about. I've read the request and request/core and request/promise code-base many times over. Actually try running the following in a shell.
[code]

The coding style is literally standard with semicolons (No standardjs is not a standard) but you really haven't looked at any JS projects now have you? Or is it that you don't recognize es5 when you

[2019-04-13 20:23] pro-src commented on #194
I want to add that this library has more code comments per line of code then any other project you're bound to be reading... If that doesn't say it all. :rofl:

[2019-04-13 20:26] Revadike commented on #62
For OGUsers I actually had to use custom URL:

[code]

[2019-04-13 20:36] pro-src commented on #194
@codemanki If you'd close this issue since this guy isn't responding well to common sense. Thanks.

[2019-04-13 20:51] pro-src commented on #62
Where is the custom URL? Oh, you thought that URL was custom? No, it's the default.

[2019-04-13 21:38] Revadike commented on #62
The other code worked too. You can try yourself.

[2019-04-13 21:48] Revadike commented on #194
Okay... I think there was some miscommunication.

I didn't mean to attack you at all. I was simply explaining why it was hard for me to understand what was going on in the source code. I never claimed to be an expert.

Furthermore, I was curious on how some things were done in the source code. Like the example I gave about using listeners/observers for promises.

The pull request broke nothing, it

[2019-04-13 22:39] pro-src commented on #62
No thanks, make your code work for other sites as well.
[code]

[2019-04-13 22:54] pro-src commented on #194
@Revadike Sure, I'll accept that.

The addition of that `catch` makes it impossible to catch errors and thus breaks the promise implementation itself.

If you were to try it with the code that your using to solve CAPTCHA's, you would see that it did indeed break your code. Tests are broken because they can't test whether or not was an error, etc... It's broken.

[2019-04-13 23:05] pro-src commented on #194
@Revadike In regards to your question about listeners. `request-promise` is a very thin wrapper around `request`. It hooks the `init` method of the `Request` class by monkey patching `Request.prototype.init`. The reason we're using listeners is because that is exactly how `request` will callback. The `request.callback` is a result of passing `options.callback` to a `request` call. The same callbac

[2019-04-13 23:10] pro-src commented on #194
What would happen if we didn't prevent `request-promise` from handling the response early? By default if the HTTP status code is not in the 2xx range, RP will throw an exception. RP would call the user provided callback instead of cloudscraper, etc. etc.. There are a bunch of gotchas. Anyways, this was the cleanest method of processing the response and controlling callback behavior.

[2019-04-13 23:21] pro-src commented on #194
@Revadike If you'd like to continue this discussion, I would rename the issue to remove `Bug` and `(no promise)`. I keep saying that it's not a bug. It could be called an issue with documentation, feature-bug, or whatever but labeling it simply as a bug is not accurate. Secondly, cloudscraper always returns a promise when the requester is `request-promise`. As I've mentioned, it is preferable to u

[2019-04-13 23:37] pro-src commented on #194
Food for thought... Why can't you use the built-in feature of Github issues to label this as a bug???? The repository owner and/or those with commit access can but others aren't allowed. Why? You could argue that with Github if you wanted. I agree with their reasoning.

[2019-04-14 00:21] pro-src commented on #147
This would also emphasize that we're using request-promise by default. Users could always opt to use `request` as the requester per the example in the root of this repository.

[2019-04-14 08:36] pro-src commented on #195
@grasssnake123 The PR is good now, feel free to try it :100:

[2019-04-15 03:46] pro-src commented on #62
@Revadike I've added support for solving CAPTCHA and I need a tester.
[code]
Ignore the branch name :wink:

[code]

If your reCAPTCHA solving API returns a promise:
[code]

The sooner this gets tested and fine tuned, the sooner we can convince @codemanki to release v4 :D

[2019-04-15 03:51] pro-src commented on #62
Also the API is completely open to discussion.It's always easier to add API then to remove it later on. Once you release the API, you're obligated to support it... So lets definitely make sure that this is the desired API.

[2019-04-15 10:20] ProGamer13 opened #199 "Cloudflare challenge updated"
Challenge updated needed

[2019-04-15 20:22] Revadike commented on #62
I'm getting this:
[code]
using this code:
[code]

And yes, I am using your branch. I double checked.

[2019-04-15 22:23] pro-src commented on #62
@Revadike It' the regex. Thanks for testing it. I'm going to write tests for it and when I'm sure it's working I'll update.

[2019-04-15 23:18] pro-src commented on #199
@ProGamer13 can you provide a URL? I don't see any changes...

If you're having trouble, it's probably your headers. See #195
Duplicate of #195

[2019-04-16 10:08] rong-00gle commented on #199
[code]

[2019-04-16 10:11] pro-src commented on #199
Cloudscraper version?

You should probably update to the latest version.

[2019-04-16 10:13] pro-src commented on #199
@rong-00gle It's a duplicate of #192 and it's already been fixed. Please update. Thanks

[2019-04-16 10:19] rong-00gle commented on #199
@pro-src yes you right, Latest version worked fine no error.
And thanks for quick response.

[2019-04-16 10:20] pro-src commented on #199
You're welcome :smile:

[2019-04-16 11:08] pro-src commented on #62
@Revadike I have tests in place now. Everything LGTM. Care to try again?

[2019-04-18 07:27] #199 closed

[2019-04-18 07:28] #195 closed

[2019-04-18 07:28] codemanki commented on #194
Shall i close this or you guys want to continue discussing it?

[2019-04-18 07:28] codemanki commented on #168
Then we kill it, yes

[2019-04-18 07:28] #168 closed

[2019-04-18 07:31] pro-src commented on #194
It can be closed.

[2019-04-18 07:36] #194 closed

[2019-04-18 08:29] pro-src commented on #124
Closing this as it's stale and it's not likely that I'll get around to fixing it anytime soon.

[2019-04-18 08:31] pro-src commented on #80
What parsing related code? We removed almost all of the regex. :rofl:
We could modularize things a bit more which I've done to some extent in the v4.0.0 PR which made things more testable.

[2019-04-18 08:31] #80 closed

[2019-04-18 08:31] #124 closed

[2019-04-18 08:32] pro-src commented on #186
@ProGamer13 rodneyd.teal -at- gmail.com

[2019-04-18 08:33] pro-src commented on #147
#198 introduces this change.

[2019-04-18 08:33] #147 closed

[2019-04-18 08:36] pro-src commented on #62
The tests are solid. The code is good. API... umm... I'm okay with it. I've you been waiting on this, get it while it's hot: #198 (v4.0.0 still being reviewed but gtg) :rocket:

[2019-04-18 21:55] WolfCr4wler opened #201 "Please wait 5 second broken"
So i was trying to make a get request to my test site and now i always get this error.

Link to the error: https://hastebin.com/udejecaxun.js

Yesterday it worked fine so it seems like that CF changed something.

if you need any more info i can give.
the website im testing this on is https://uam.wolfy.codes/

Wolf

[2019-04-18 22:13] #201 closed

[2019-04-18 22:13] WolfCr4wler commented on #201
has been fixed somehow maybe it was some problem at cf

[2019-04-19 12:55] Revadike commented on #62
Your example code had some mistakes:
 * `response.request.uri` should be `response.request.uri.href`
 * `captcha.form['g-captcha-response']` should be `captcha.form['g-recaptcha-response']`

After fixing that, your latest branch worked!

[2019-04-19 12:57] Revadike commented on #62
How does `if (error) return void captcha.submit(error);` work? Why submit an error and why use [void](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/void)?

[2019-04-19 13:00] pro-src commented on #62
Awesome, thanks for letting us know.

So if you have a default handler, the error propagates back to the caller. `void` has been in JS since the first version of the language. I'm using in there for readability and it can be used as a safeguard. It ensures that the return value is undefined.

[2019-04-19 13:03] pro-src commented on #62
An example:
[code]

[2019-04-19 13:15] pro-src commented on #62
@Revadike did that clear it up?

[2019-04-22 15:21] #62 closed

[2019-04-23 17:45] elpaxel opened #202 "Where to test the reCaptcha ?"
I want to test my captcha solving method but can't find any page with captcha triggered. Maybe there is some test pages or something ? Because I don't want to configure cf by myself. And I need "alive" page (not the one in fixtures folder) for domain/host mocking on local machine.

[2019-04-23 17:47] pro-src commented on #202
I'll turn the CAPTCHA on for https://pro-src.com. Give me one sec to do it.

[2019-04-23 17:49] elpaxel commented on #202
Thanks a lot :)

[2019-04-23 17:53] pro-src commented on #202
You're welcome. Issue solved?

[2019-04-23 18:01] elpaxel commented on #202
Yep.

[2019-04-23 18:03] pro-src commented on #202
I'm looking for a consistent way to trigger CF's CAPTCHA on site's that don't have enabled in the same I've done for testing purposes. No luck yet..

[2019-04-23 19:39] pro-src opened #203 "Fragment identifier is not appended to the JS challenge form's action URI"
The IUAM JS challenge appends the fragment identifier (#hashtag) of the `window.location` to the form's action URI before submission. Cloudscraper is not currently mimicking this behavior.

Example JS challenge:
[code]

[2019-04-23 19:40] pro-src commented on #203
@VeNoMouS

[2019-04-23 20:09] pro-src commented on #202
Theres a chance that if using cloudscraper though Tor that you'll get a CAPTCHA consistently. I haven't confirmed yet. The reason I suspect this is because this article mentions that the Tor team had to make a small change at the request of CF to avoid the CAPTCHAs and it only works for newer version of the Tor Browser. If that change was only made in Tor Browser, maybe we'll have some luck there.

[2019-04-23 22:51] VeNoMouS commented on #203
Interesting... I did see that the other day... but thought nothing of it..

[2019-04-23 23:07] VeNoMouS commented on #203
Looking at mitm's / debugging... it doesn't actually send that hash from what I can see...

[2019-04-24 02:48] #203 closed

[2019-04-24 11:13] #202 closed

[2019-04-24 15:39] pro-src commented on #202
Confirmed. You must override the headers entirely.

[code]

[2019-04-24 16:13] elpaxel commented on #202
Cool. Thanks for headers "trick".

[2019-04-24 17:39] pro-src opened #206 "Update docs"
The `README.md` still contains the old message about not having any support for solving CAPTCHA but we have that now. The TODO list hasn't been updated.

The migration guide could be moved to it's own document and just mentioned as the `README.md` is already long. The link can be relative: `[Migration Guide](migration-v2-to-v3.md)` or to make room for other docs, make a docs directory: `[Migration

[2019-04-25 18:16] #206 closed

[2019-04-26 02:26] lidorlevi156 opened #207 "How to set cookies"
Its not bypassing for me Cloudflare 5 seconds, i dont know why i use this code:
[code]
in loop and it drag a lot of errors and some success, but most errors, its not even waiting 5 seconds its log the error on the console in one second.

[2019-04-26 06:31] pro-src commented on #207
Hi @lidorlevi156, I can't really tell what the problem is based on the information you've provided. For all I know, something is wrong in your code. For example if your `proxies` variable was undefined at some point, that could match what you've described.

If I'm assuming it's not a bug in your code, I still need to know the error message(s), preferably the URL(s), and/or the response content.

R

[2019-04-26 15:13] lidorlevi156 commented on #207
Hello @pro-src , its saying error: captcha always, in everysite that i try to attack that have 5SEC its throw errors. No matter which site, this is problem I am sure and my proxies working well and not undefined.
There is are errors:

one time type 1, other time 3 and 'Error occurred during evaluation: Illegal return statement'
How should I fix it?

Thank you very much :)

[2019-04-26 15:26] lidorlevi156 commented on #207
Update: On some sites when I send requests to "HTTP" and not to "HTTPS" its bypassing the 5 seconds in some requests, on other part of sites its doesn't.

[2019-04-26 15:39] ArnaudPiroelle opened #208 "Cloudflare challenge updated?"
Since this morning : CaptchaError: captcha on v4.0.1

[code]

error:
[code]

[2019-04-27 01:06] pro-src commented on #208
@ArnaudPiroelle It's the headers that you're using. Cloudflare has improved their browser integrity check (BIC) which is the main reason why v4.0.0 came so quickly. If you use the default headers, meaning don't override, Cloudscraper works just fine. UA randomization was tricky but we've got you covered in v4.0.0. :tada: If you want brotli support on nodejs versions prior to v11: `npm install --sa

[2019-04-27 01:17] pro-src commented on #207
@lidorlevi156 some site owners may have CAPTCHA turned on for specific paths. I'm unable to reproduce this without a URL but the error doesn't seem quite right. Are you using the latest version of Cloudscraper `^4.0.0`??? Based on what you're telling me, I don't think this is a problem with Cloudscraper since to the best of my knowledge Cloudflare has *not* updated their challenge. I doubled check

[2019-04-27 03:14] pro-src commented on #207
@lidorlevi156 if you haven't already, test your proxy in a web browser. It's possible that the proxy server is using SSL ciphers that aren't common to web browsers: https://github.com/VeNoMouS/cloudflare-scrape-js2py/issues/28#issuecomment-487000582

Since the proxy is making the connection to Cloudflare on your behalf... If you get a response, that doesn't rule out the proxy for being a possible

[2019-04-27 14:22] ArnaudPiroelle commented on #208
Indeed! I upgrade node to v12 and it's works...
Thanks ;)

[2019-04-27 14:22] #208 closed

[2019-04-27 22:21] pro-src opened #209 "Improve CAPTCHA support by implementing PrivacyPass"
https://privacypass.github.io/
https://www.petsymposium.org/2018/files/papers/issue3/popets-2018-0026.pdf

https://support.cloudflare.com/hc/en-us/articles/115001992652-Can-I-use-Privacy-Pass-with-Cloudflare-

Outdated but from one of Cloudflare's github repos: https://github.com/cloudflare/challenge-bypass-specification/blob/master/captcha-bypass-internet-draft.txt

Browser add-on source: https:/

[2019-04-28 06:39] grasssnake123 commented on #209
@pro-src
How to make use this PrivacyPass with cloudscraper?
I am using version  v4.0.1 and meanwhile all are working good.
But it seems like the wack-a-mole game with cloudflare team going faster chase each other.
I am looking for a more permanent solution.

[2019-04-28 06:55] pro-src commented on #209
Read the links. It's something that we would have to implement. It's not something to be used with Cloudscraper.

Glad to hear it. :+1:

I have no proof of such, although you might be correct.

I think CF has been a big proponent of PrivacyPass from the beginning. I don't think they would break that so maybe forcing a CAPTCHA, using a service such as anti-captcha.com to solve the initial challenge

[2019-04-28 09:23] binlee1990 opened #210 "Is there any interface only providing the transferred headers?"
I have another spider written in other language, so I only need the correct headers to request urls.

[2019-04-28 09:31] pro-src commented on #210
There is not any convenience methods for getting the response headers. It's all pretty convenient already since you have to make a request to get response headers which includes cookies.

The default headers can be accessed via `cloudscraper.defaultParams.headers`
The default cookie jar can be similarly accessed: `cloudscraper.defaultParams.jar`

[code]

After solving at least one challenge, you s

[2019-04-28 09:39] pro-src commented on #210
@binlee1990 Since you're using a different language, you should know that CF is performing client finger printing of sorts based on SSL negotiation. For now at least, you only get a CAPTCHA if you're using certain ciphers that browsers don't typically use. It might not affect you at all but we're still working on a solid solution for python. It doesn't affect nodejs atm...

[2019-04-28 11:26] binlee1990 commented on #210
I see, thank you for your answer. Looking forward to your python solution，and I will try if I can transfer to Java solution, because I wrote some spiders in Java ^_^

[2019-04-28 22:41] pro-src commented on #209
The browser extension code is really nice and doesn't need to be reproduced for this project. I'll release a modified version that pulls in the reusable parts of the browser-extension and bundle it with the necessary adaptions. Cloudscraper can think list it as a peer dependency and perform an optional require to make use of it. So it is something *to be used with cloudscraper* since we don't want

[2019-04-29 00:38] pro-src commented on #207
Cloudscraper uses https://www.npmjs.com/package/request which in turn uses https://www.npmjs.com/package/tough-cookie for cookie management. You'll need to refer to the documentation of those respective libraries.

You can access the cookie jar from the defaults: `cloudscraper.defaultParams.jar`
Or use your own:
[code]
Or equivalently:
[code]
Or use request's convenience function directly and opti

[2019-04-29 00:46] pro-src commented on #207
@codemanki Do you mind changing the title of this issue to `How to set cookies`. I'd really appreciate having commit access so I'd be able to manage a bit more on my own. None of the issues have labels and be tend to ask the same question over an over again. We could save everybody some time but fixing this issues up when it makes sense to do so... For example which issues were bugs? So many dupli

[2019-04-29 01:10] pro-src commented on #210
@binlee1990 How did you imagine such an interface working? I mentioned this briefly when looking at UA randomization. Although that comment seemed to be ignored: https://github.com/codemanki/cloudscraper/pull/133#issuecomment-476008679

[2019-04-29 02:00] binlee1990 commented on #210
@pro-src Random UA is not necessary for me, I wrote a spider in Java language but met cloudflare protect, so  I copied the correct headers after cloudflare skipped in real request, but I found that cookies will change every 20-30 minutes, this is why I only want a interface to provide me correct headers/cookies when I meet the cloudflare changed the cookies.

[2019-04-29 03:36] pro-src commented on #210
My question was :point_up:

I don't presume to know how your spider works or what it needs. I only mentioned UA randomization since that was context of the comment that I made regarding the interface that you're inquiring about. Although, it would be wise to read the linked comment since it mentions things that you'd ideally want to be aware of when using Cloudscraper in the way that you described

[2019-04-29 03:49] pro-src commented on #210
@binlee1990 to be simple... You need to keep using the headers that Cloudscraper used to get the cookies or configure Cloudscraper to use the headers that you intend on using. Otherwise you'll be using cookies with a different UA then the one which was used to get them...

[2019-04-29 06:35] codemanki commented on #207
@pro-src done. Please accept the invite :)

[2019-04-29 06:36] codemanki commented on #209
@pro-src sounds very cool!

[2019-04-29 06:47] pro-src commented on #209
I'm working on it now and making great progress! A little background on the PrivacyPass core team, they are all cryptographers, one is a Golang core developer for Google, and at least one is a developer for Cloudflare. So it is a promising project indeed.

Since the tokens are blinded and can be redeemed for domains other than the one used to obtain them, it's possible to make an initial request t

[2019-04-29 07:11] #207 closed

[2019-04-29 07:15] codemanki commented on #207
![](https://images-na.ssl-images-amazon.com/images/I/61M2ajmsJeL._UL1125_.jpg)

[2019-04-30 09:14] karnadii opened #211 "CaptchaError: captcha v4.0.1 (SSL negotiation)"
[code]
[code]

[2019-04-30 09:20] pro-src commented on #211
Duplicate of https://github.com/codemanki/cloudscraper/issues/208

[2019-04-30 11:12] karnadii commented on #211
@pro-src every example i run all of it almost get me error CaptchaError: captcha, I am using node v10.15.3. the url is https://nanime.in. I am clueless of what was the problem.

[2019-04-30 11:13] pro-src commented on #211
@karnadii read #208

[2019-04-30 11:22] karnadii commented on #211
@pro-src u say it is the header, i am using header or not is the same, the rest I dont understand, also ArnaudPiroelle upgrade node to v12, i have upgrade it, and still the same error.

[2019-04-30 11:24] pro-src commented on #210
I'm closing this off since it has been answered. If a convenience method is desired, feel free to open a new issue requesting the enhancement. And thanks @binlee1990 for asking about this. :smiley:

[2019-04-30 11:24] #210 closed

[2019-04-30 11:26] pro-src commented on #211
@

[2019-04-30 11:27] codemanki commented on #211
@karnadii could you please try `rm -rf node_modules`, make sure that you have at least `4.0.1` version in your package.json and do `npm/yarn install`?

[2019-04-30 11:35] pro-src commented on #211
@karnadii Also if you enable debugging, you can see which headers are being sent.
[code]

Note that upgrading your nodejs version is not necessary. It should work just fine on nodejs v6+ without any accommodations. Although, using the latest stable version of nodejs is always recommended and using brotli is future proofing.

[2019-04-30 11:41] karnadii commented on #211
@codemanki @pro-src still error

[code]

[2019-04-30 11:44] karnadii commented on #211
the one that I want to scrape is nanime.in, so this is the only url i can provide.

[2019-04-30 11:45] karnadii commented on #211
using example of rechaptav2

[code]

[2019-04-30 11:54] pro-src commented on #211
@karnadii The recaptcha example is a ***dummy*** function and is not meant to work. It's something that you have to code yourself. I think the reason that you're getting a CAPTCHA in this case would because of an IP related issue. Perhaps the site owner has banned your ASN/ISP or the entire IP range of your country. I can't say for sure. I'd like to have you perform an experiment for me to be on t

[2019-04-30 11:57] karnadii commented on #211
@pro-src
[code]

[2019-04-30 12:14] pro-src commented on #211
@karnadii This could very well be an issue with Cloudflare checking the ciphers used during SSL negotiation as your cipher suite list is different than mine. I'd like to rule that out but I'll need a minute to work out a test.

[2019-04-30 12:22] pro-src commented on #211
@karnadii Please run this command exactly to run your test:
[code]

[2019-04-30 12:28] karnadii commented on #211
@pro-src
[code]

[2019-04-30 12:29] pro-src commented on #211
@karnadii :thinking: Please run this code again but with the CLI flag that I provided:
[code]

[2019-04-30 12:31] karnadii commented on #211
@pro-src
[code]

[2019-04-30 12:42] pro-src commented on #211
@karnadii I'd like to think that we ruled it out and that it is indeed just an IP problem but I can't say for sure due to some differences that persisted even when specifying the same ciphers. :confused:

@VeNoMouS any thoughts?

<details><summary>Mine</summary>

![localhost_8000_results html](https://user-images.githubusercontent.com/34285059/56961996-f679a600-6b1a-11e9-977f-cc828ea778aa.png)
</d

[2019-04-30 12:51] pro-src commented on #211
The only thing I can think of it's not an IP issue is that they're checking the signature algorithims:

I'm not sure how to tell node to change that right at the moment.
@karnadii Can you try from another system on the same network to rule an IP issue? That would be awesome if you could.

[2019-04-30 12:58] pro-src commented on #211
@karnadii Actually, just try your web browser... If it works there than it's not an IP issue. :laughing:

[2019-04-30 13:00] karnadii commented on #211
@pro-src it work from my browser, as usual cloudflare 5 second chalenge then redirect to the https://nanime.in/. I dont have another device.

[2019-04-30 13:03] pro-src commented on #211
@karnadii I've been aware of this issue but I didn't think nodejs was affected until now. It's clear that Cloudflare is putting the SSL negotiation under a microscope. Thanks for helping identify this problem!

[2019-04-30 13:04] VeNoMouS commented on #211
works fine with my python cloudscraper

[2019-04-30 13:05] pro-src commented on #211
It works fine for me too with either of them and specifying the SSL ciphers didn't help him at all.

[2019-04-30 13:06] karnadii commented on #211
now after I open the url from my browser, the error is invalid URI
[code]

[2019-04-30 13:08] codemanki commented on #211
@karnadii because the URI is incorrect `https:/nanime.in/` -> `https://nanime.in/`

[2019-04-30 13:09] karnadii commented on #211
@codemanki my code is correct
[code]
i didnt make a change on the code

[2019-04-30 13:10] VeNoMouS commented on #211
wouldn't the url actually end in /?

[code]

[2019-04-30 13:11] VeNoMouS commented on #211
[code]

[2019-04-30 13:12] pro-src commented on #211
Works either way for me, with or with the ending `/`

[2019-04-30 13:14] VeNoMouS commented on #211
@karnadii whats your node version? and what is the libssl version its using?

[2019-04-30 13:14] karnadii commented on #211
it is the same, I have tried both with "/" and without.
running the same code with different time, and different error
[code]

[2019-04-30 13:16] pro-src commented on #211
Probably really was just a bogus redirect: https://github.com/request/request/blob/master/request.js#L269

[2019-04-30 13:17] karnadii commented on #211
node v10.8.0, how to find libss version?

[2019-04-30 13:21] pro-src commented on #211
@karnadii `node -e 'console.log(process.versions)'`

[2019-04-30 13:21] karnadii commented on #211
oh god, i use node v12.1.0 and now it work...

[2019-04-30 13:22] pro-src commented on #211
Brotli :)

[2019-04-30 13:23] pro-src commented on #211
Or not.... This is my process info:
[code]

I don't have brotli installed.

[2019-04-30 13:25] pro-src commented on #211
@karnadii Please run this one last time so we can do a comparison.

CLI flag from earlier https://github.com/codemanki/cloudscraper/issues/211#issuecomment-487930595
And code from earlier https://github.com/codemanki/cloudscraper/issues/211#issuecomment-487932489

I'm really glad that you got it working :)

[2019-04-30 13:26] karnadii commented on #211
not working v10{ http_parser: '2.8.0',
  node: '10.8.0',
  v8: '6.7.288.49-node.19',
  uv: '1.22.0',
  zlib: '1.2.11',
  ares: '1.14.0',
  modules: '64',
  nghttp2: '1.32.0',
  napi: '3',
  openssl: '1.1.0h',
  icu: '62.1',
  unicode: '11.0',
  cldr: '33.1',
  tz: '2018e' }

working v12 {
  node: '12.1.0',
  v8: '7.4.288.21-node.16',
  uv: '1.28.0',
  zlib: '1.2.11',
  brotli: '1.0.7',
  ares: '1.

[2019-04-30 13:30] karnadii commented on #211
@pro-src
[code]

[2019-04-30 13:32] karnadii commented on #211
thanks guys :D

[2019-04-30 13:36] pro-src commented on #211
Here is a screenshot of the html you just pasted it matches mine exactly now:
![localhost_8000_test html](https://user-images.githubusercontent.com/34285059/56965322-a1da2900-6b22-11e9-96cf-30a52d83e8d8.png)

I think it's pretty conclusive that the problem was indeed the signature algorithms and that upgrading your nodejs (and it's build of openssl) solved the problem.

So it'd be nice if we could

[2019-04-30 14:45] pro-src commented on #211
Further proof and a very bad work around:
[code]

Works when running the same process:
[code]

[2019-04-30 18:25] pro-src commented on #211
@karnadii Can I get you to try this out on your system to confirm a fix?
[code]

[2019-04-30 18:27] karnadii commented on #211
@pro-src
[code]

[2019-04-30 18:30] pro-src commented on #211
Thank you, I'll send a PR soon so we can get this fix released.

[2019-04-30 18:34] karnadii commented on #211
@pro-src i have try using node  v10.8.0, v10.15.3 and v12.1.0, only v12.1.0 give me succes, v10.15.3 also give me error `CaptchaError: captcha` except using ur work around using agenoptions

[2019-04-30 18:36] pro-src commented on #211
Thanks for letting me know, I'll be testing as many node versions as possible before sending an official PR for peer review.

[2019-05-02 20:47] bert-w opened #213 "Question: is it possible to return the form values?"
The cloudflare protection page makes a GET request to a `/cdn-cgi/l/chk_jschl` endpoint, is it possible to catch all key/values that are sent to this endpoint and return them, instead of making the actual request?

I'm looking for a library that can execute and solve the Cloudflare protection challenge, but I need the return values myself since I do the HTTP requests itself in PHP.

[2019-05-02 23:35] pro-src commented on #213
Hi @bert-w,

The code below allows you to create your own requests and responses for Cloudscraper to use. We only officially support `request` and `request-promise` as the requester so I can't promise that the code below won't need to be updated for a future release.

You'd use it like so:
[code]

<details><summary>my-requester.js (es6/es7)</summary>

[code]
</details>

While I did run this code t

[2019-05-02 23:35] #213 closed

[2019-05-02 23:41] pro-src commented on #213
@bert-w It's probably better to use Cloudscraper to perform the Cloudflare challenge specific requests and use the cookies in your PHP app: https://github.com/codemanki/cloudscraper/issues/210

[2019-05-04 01:00] lidorlevi156 opened #216 "Copy cookies to all requests in loop"
Hello Guys,
I really worked hard and no result, all is failed.
I am trying to send one time request to Cloudflare UAM (5 Seconds), check if the request without errors and statusCode=200, copy the cookies to all requests in loop to avoid failures on bypassing cloudflare, without this it is very slow.
I really didn't understand the jar and requestModule, how to copy where to set and nothing.
Thanks

[2019-05-04 06:49] pro-src commented on #209
I'll have this working soon without a single change to cloudscraper. Just taking my time. :smiley:

[code]

[2019-05-04 07:06] pro-src commented on #216
Hi @lidorlevi156,

You're right to be thinking about the `request` module if you're trying to get or set request related information. Their documentation should cover everything that you need to know: https://github.com/request/request

Just pretend that the `cloudscraper` library ***is*** the `request` library and everything should make sense.

The `request` library uses https://www.npmjs.com/pac

[2019-05-04 13:12] lidorlevi156 commented on #216
Hi @pro-src,
I just want to ask if it is possible to send one request to site that have 5 seconds cloudflare and when the request is success, to copy the cookies and start loop of requests with the cookies of the first request, it will work or cloudflare will check for 5 seconds no matter the cookies because the ip changing (proxy loop).
Thank you :)

[2019-05-04 13:27] pro-src commented on #216
If you can, you're better off using Cloudscraper for all of your requests. It won't slow you down since it skips a lot of checks when it can.

The answer to your question is ***yes*** but how will you know whenever another challenge is sent?
Yes, you could share the cookie and only solve one 5 sec challenge every 30 mins. The cookie will expire after 30 mins. However, it is also possible for Cloud

[2019-05-04 13:27] #216 closed

[2019-05-04 13:37] pro-src commented on #216
@lidorlevi156 Regarding the IP changing, Cloudflare will probably send you a CAPTCHA if you reuse the cookie in that case. If you so much as use a different UA with the cookie, Cloudflare will more than likely flag you. Using the same IP and making requests using Cloudscraper in a loop shouldn't be a problem at all. I hope I cleared everything up for you.

[2019-05-04 14:49] lidorlevi156 commented on #216
@pro-src Thank you, I understood everything.

[2019-05-07 08:27] pro-src commented on #209
I haven't finished this yet but when I get around to it, there is little left that needs to be done. Since no changes need to be made to cloudscraper, this is not a cloudscraper issue. I will update this issue upon publishing the node-privacy-pass package.

[2019-05-07 08:27] #209 closed

[2019-05-07 09:48] Angelk90 commented on #49
Hi @codemanki, would it be possible to have an answer?

[2019-05-07 09:53] codemanki commented on #49
Hey @Angelk90 if you could share more details about errors you are getting, and maybe sharing the code i would be able to help you a bit

[2019-05-07 10:32] pro-src commented on #49
@Angelk90 That's a very interesting question.

Looks you'd want to use https://code.janeasystems.com/nodejs-mobile/
https://github.com/janeasystems/nodejs-mobile/releases
[code]

I'm not aware of any incompatibility with either of the above engines (v8 or Chakra) for Node.js. I imagine that everything would work fine when configured correctly.
The ChakraCore version is recent enough. https://githu

[2019-05-08 14:57] Angelk90 commented on #49
@codemanki :
Problem:
[code]

Link: https://snack.expo.io/r1aK3PenE

I was hoping to be able to use it normally without being js as well, but it seems that the dependencies don't work properly and they conflict with react-native.

At first I used react-native-cloudscraper, it worked fine but now it seems that it doesn't work properly anymore, besides its developer seems to have abandoned the proje

[2019-05-08 15:11] pro-src commented on #49
@Angelk90 I'm not sure that you've answered the question of what you're actually using to run cloudscraper in term's of the JS engine which must be used to execute JS.

The error isn't related to cloudscraper and I don't think it's related to Node.js either. I'm guessing but it looks the result of a failed build due to some module resolution logic that is outside of Node.js.

It should work just f

[2019-05-08 15:25] pro-src commented on #49
@Angelk90 Sorry, if I failed to realize the question in some way. I'll add that this is a Node.js project and it needs Node.js to function properly. Good luck man :smile:

[2019-05-10 20:12] elpaxel opened #217 "ReCaptcha error reference"
Sorry for the issue it's not about this great library.
My question:
Lets assume I got the g-recaptcha-response and sent it with captcha.submit()
And if there is some problem with g-recaptcha-response token HOW can I see it ?
There is errors like timeout, duplicate etc.
Because I made some recaptcha solver and there is the steps that I do:
1. Rendering captcha with sitekey regarding to website host

[2019-05-10 21:11] pro-src commented on #217
Sup @elpaxel

:thinking: If using cloudscraper, it's possible to return an error in the handler by calling `captcha.submit(error)` or by returning a promise that is rejected at some point.  If a promise is returned in the handler, it's no longer necessary to call `captcha.submit`. If the error is reported in the handler, it can be caught whenever a request is made: `cloudscraper.get('https://examp

[2019-05-11 05:23] elpaxel commented on #217
Maybe I don't understand something but captcha.submit(error) returns MY error. So if I want to abort captcha sending I will just captcha.submit("MY CUSTOM ERROR"). But I'm talking about error that website will send if g-recaptcha-response is "broken". Because now if g-recaptcha-response is broken all that I will get is another captcha from the website without any explanation why. And I'm not fully

[2019-05-11 10:08] elpaxel commented on #217
Some updated info that I have found. Maybe someone struggling like me.
If you take captcha for https://example.com and then open it in Electron with custom protocol like cap://example.com, Google will not throw you "Invalid domain for site key" (actually you can even paste any domain different from original) but as I guess (after some testing) g-recaptcha-response will be incorrect\malformed.

[2019-05-13 22:24] pro-src commented on #217
Hey @elpaxel

I haven't forgot. Basically you're using a custom protocol handler in chrome to manipulate those specific requests and you're wondering if that's the problem. I'm not sure that the protocol scheme is to blame for this or not either. I'm also not sure if there's anyway to know that the `g-recaptcha-response` was bad from the client's end except for when you get another CAPTCHA. I'll t

[2019-05-14 16:54] pro-src commented on #211
Upon reexamination, the TLSv1.3 ciphers don't appear to be solving the problem after all. Rather the ciphers that are used are changed in a non-intuitive way. The list of ciphers obtained from `require('tls').getCiphers()` is not equivalent to the list that is generated internally from `require('crypto').getCiphers()`.

The difference actually appears to be the removal of these ciphers:
[code]

Wh

[2019-05-16 21:45] gdoron opened #220 "Use within puppeteer?"
Hi,

Is it possible somehow use this library with puppeteer?
If not, are you aware of a way to bypass cloudflare with puppeteer?

Thanks,
Doron

[2019-05-17 06:47] elpaxel commented on #220
Sorry If I'm wrong but when I'm using puppeteer it already can "pass" through the cloudflare redirects without any problem. You need only to wait the page to load completely.

[2019-05-17 10:56] elpaxel opened #221 "challengeId (jschl_vc) extraction failed"
challengeId (jschl_vc) extraction failed

[2019-05-18 21:13] pro-src commented on #221
There was a car crash somewhere on planet earth. Do you mind helping me narrow it down just a tad?

What version are you using?
The URL and/or page source?
Code snippet?
etc..?

[2019-05-18 21:21] #220 closed

[2019-05-18 21:31] pro-src commented on #217
AFAIK, The only way to know that the g-recaptcha-response was bad is whether or not you get another CAPTCHA. This is based on what I've observed when testing.

[2019-05-18 21:31] #217 closed

[2019-05-19 04:04] elpaxel commented on #221
Uhm sorry I was thinking that library needs to be updated but error is gone.

[2019-05-19 04:04] #221 closed

[2019-05-21 03:26] pro-src commented on #209
I don't know how many people were looking forward to the node-privacy-pass but if the thumbs are any indication, I'm not disappointing too many people. I've changed my mind after putting it off a lot lately. I don't currently plan to finish developing it.

[2019-05-23 01:13] #211 closed

[2019-05-27 17:06] ikozehh opened #222 "Cloudflare error 1020"
I have a problem when sending a post request, I seem to be getting a 1020 cloudflare error and can't find much information regarding the error?
Here is the request
`  return new Promise((resolve, reject) => {
        console.log(hashKey);
        console.log(requiredVar);
        cloudscraper.post({
          uri : directAddress,
          form : {
            token : hashKey,
            chosen_a

[2019-05-27 18:23] pro-src commented on #211
I do believe that this article explains why Cloudflare made these changes recently: https://community.cloudflare.com/t/tls-1-0-to-1-2-why/83643

[2019-05-27 18:34] pro-src commented on #222
Hi @ikozehh,

You're being blocked due to custom firewall rules configured by the site owner. It anybody's guess what the rule(s) might be that is causing this problem for you.

https://community.cloudflare.com/t/community-tip-fixing-error-1020-access-denied/66439

If provided a URL, I might be able to tell you how to bypass it.

[2019-05-27 19:02] ikozehh commented on #222
Hey thanks for the quick reply
The URL is https://www.bstn.com/p/nike-air-force-1-07-premium-2-at4143-101-111803
Should return a JSON body
Thank you

[2019-05-27 20:10] pro-src commented on #222
Here ya go:
[code]

[2019-05-27 20:10] #222 closed

[2019-05-28 07:27] pro-src commented on #222
@ikozehh You might have not seen this since I forgot to @mention you. Did that do the trick?

[2019-05-28 10:13] ikozehh commented on #222
@pro-src Its having problems getting the x-token cookie, more times than not it fails to get the token then occasionally it gets it

[2019-05-28 10:28] pro-src commented on #222
I'm not sure why that would be but I think the token can also be parsed from the initial response body by using regex. I'm glad that you got everything working with Cloudscraper. Now you just need to adapt the code. :)

[2019-05-28 10:43] ikozehh commented on #222
Yes I have the correct token now but I am still getting the cloudflare 1020 error, did you not get the error when you tested with your code?

[2019-05-28 10:46] pro-src commented on #222
I just realized what the problem might be if you're using my exact code snippet in a loop. The `X-Requested-With: XMLHTTPRequest` header is not being unset. You'll want to imitate legitimate browser traffic by including/omitting the correct headers depending the request being made.

No, I never received that error for the provided URL. The problem is site specific so I can't really say unless I se

[2019-05-28 11:13] ikozehh commented on #222
The problem was really simple actually, I included your code where the headers are updated because the request is made with XHR, but I didnt include the headers option in the post request so I wasn't actually using the headers. Very stupid mistake, have learnt a lot from you and really appreciate all the help you gave me :)

[2019-05-28 11:17] pro-src commented on #222
I could have made the same mistake. I'm glad that you figured it out and you're very welcome.

[2019-05-31 12:33] pro-src opened #224 "Yet another issue on SSL/TLS"
I've came to the conclusion that we should disable TLSv1.0/TLSv1.1 entirely. All majors browsers have committed to making this change in 2020. This would be in addition to what we're already doing to modify the default ciphers list.

https://tools.ietf.org/html/draft-ietf-tls-oldversions-deprecate-04
https://webkit.org/blog/8462/deprecation-of-legacy-tls-1-0-and-1-1-versions/
https://blogs.windows

[2019-06-03 04:23] andrewprivate opened #225 "Error occurred during evaluation: Illegal return statement (Code: 3)"
<img width="856" alt="Screen Shot 2019-06-03 at 12 21 05 AM" src="https://user-images.githubusercontent.com/32175943/58775830-83d66d00-8595-11e9-8427-4d8f96c02d43.png">

Pretty self explanatory. This error happens whenever I try to access `sockshare.icu` through a heroku server. I have suspicions that this is due to a captcha (referring to #207), but since it says error code 3, I am reporting it a

[2019-06-03 04:57] andrewprivate commented on #225
Closing as of now since I realised I am using v1.5.1

[2019-06-03 04:57] #225 closed

[2019-06-04 13:30] ProGamer13 opened #226 "Did Cloudflare update the IUAM challenge?"
Cloudflare updated UAM
Error: Unhandled rejection CaptchaError: captcha

[2019-06-04 22:37] pro-src commented on #226
Hi @ProGamer13,

* What version of Cloudscraper are you using?
  - `node -p 'require("cloudscraper/package.json").version'`
* Please share the process information:
  - `node -p process`
* When did the problem start occurring?
* How often does the problem occur?
* What is the URL?
* _Please share a minimal working code snippet that reproduces the problem._

[2019-06-05 17:07] ikozehh opened #227 "challengeId (jschl_vc) extraction failed"
Currently doing a post request to a website to add an item to cart

[code]

This is following a get request to https://www.bstn.com/en/p/nike-wmns-air-force-1-07-lx-898889-101-111045
and retrieving the hash, secret, product variant and the product ID. I get the error
challengeId (jschl_vc) extraction failed
I turned debug on for cloudscraper and can see I have a 503 response error but cannot see a

[2019-06-07 08:55] codemanki commented on #227
@ikozehh thanks for reporting this. Does this also happen with GET requests or only in this specific scenario?

[2019-06-07 08:57] codemanki commented on #226
@pro-src  we should make your comment as a default issue template :)

[2019-06-07 09:05] ikozehh commented on #227
Haven't had it happen with get requests, only this specific scenario I've found it but I cant do any further post requests to check unless this one is done, the GET works fine

[2019-06-07 14:25] pro-src commented on #227
The URL is wrong. The service doesn't actually post to https://www.bstn.com/en/cart/item when I add an item to the cart. It changes the URL to match the product: https://www.bstn.com/en/cart/plus/dc44a-111048.

In any case, I'd think the other errors are due to a custom error page.
If you want help with this, you're going to have to do the work. Meaning, provide us with a minimal working code snip

[2019-06-07 14:25] #227 closed

[2019-06-07 14:27] pro-src commented on #227
And example code snippet from your other issue: https://github.com/codemanki/cloudscraper/issues/222#issuecomment-496297306

I'd expect something similar that can reproduce a problem with cloudscraper.

[2019-06-07 15:04] pro-src commented on #227
I reproduced the error (edited to remove embedded base64, etc.):
[code]

IMHO, The server erroneously uses the same HTTP server error status code as Cloudflare. I don't really think this should be fixed because if Cloudflare changes their markup we could return bogus data to clients without them knowing.

In conclusion, the errors aren't caused by Cloudscraper but rather by bad requests. Cloudscra

[2019-06-07 16:02] pro-src commented on #227
@ikozehh Explanation:

If the HTTP response header `Server: cloudflare` is present and the content type is `text/html`, the following checks will be performed along with checks for reCAPTCHA:
https://github.com/codemanki/cloudscraper/blob/c3c4339c9c5c765ee03d702b1df15227a9650c80/index.js#L207

https://github.com/codemanki/cloudscraper/blob/c3c4339c9c5c765ee03d702b1df15227a9650c80/index.js#L220-L22

[2019-06-07 18:39] #226 closed

[2019-06-07 18:39] #224 closed

[2019-06-07 18:41] pro-src commented on #202
I better option that seems to be Cloudflare approved is https://captcha.website

[2019-06-15 14:48] Eastkap opened #229 "Can't make it work"
Struggling hard to make the library work, get captcha each time using a proxy, but on localhost. Since I noticed python's cfscrape works properly, I tried extracting the ciphers and forcing them when using this library but no luck.

  * Using cloudscraper 4.1.2
  * Nodejs v11.5.0
  * Started happening recently
  * Problem occurs each time.
  * url : https://www.sneakersnstuff.com/en/product/37690/

[2019-06-16 08:48] pro-src commented on #229
Hi @Eastkap,

I'm unable to reproduce it but that isn't unusual with this particular problem.

The cipher list control string that would be used by cfscrape is exactly as follows:
[code]

Note that both libraries include `!ECDHE+SHA:!AES128-SHA` since SHA1 in the TLS signature algo. ext. tend to cause CAPTCHA.

If you want to test your theory:
[code]

Please share the process information, what is

[2019-06-16 11:31] pro-src commented on #229
When I test via ssllabs, SHA1 is in the signature algorithms. I tried removing all of the SHA1 ciphers which works but not for the signature algorithms. The problem is that we don't have a way to set those directly. :(

Only specifying a single cipher works: `~/Downloads/node-v11.5.0-linux-x64/bin/node --tls-cipher-list='ECDHE-RSA-AES128-GCM-SHA256' issue-229.js`

So perhaps eliminating certain ci

[2019-06-16 20:07] pro-src commented on #229
I'm going to ask you to upgrade to Node.js v8 or later that was compiled in 2019.

Latest versions with backports:
* v8: https://nodejs.org/download/release/v8.16.0/
* v9 skipped since it's not supported (End-Of-Life 2018-06-30)
* v10: https://nodejs.org/download/release/v10.16.0/
* v11: https://nodejs.org/download/release/v11.15.0/
* v12: https://nodejs.org/download/release/v12.4.0/

It's better

[2019-06-16 20:07] #229 closed

[2019-06-16 20:35] Eastkap commented on #229
I updated rn to 12.4.0 and still no luck, keep you posted

[2019-06-17 11:50] pro-src commented on #229
Thanks for letting us know @Eastkap

Here is an explanation for why I believe Cloudflare has introduced these changes and why SHA1 being a problem makes sense:

* [Yet another issue on SSL/TLS  #224](https://github.com/codemanki/cloudscraper/issues/224)
* [Deprecating MD5 and SHA-1 signature hashes in TLS 1.2](https://datatracker.ietf.org/doc/draft-lvelvindron-tls-md5-sha1-deprecate/)

Cloudflare

[2019-06-17 15:22] Eastkap commented on #229
Hopefully it's all for security sake ofc.
I had read your pinned issue but couldn't make anything out of it. Well I guess it's good to go now.

[2019-06-17 15:46] pro-src commented on #229
I think that was their general idea but the behavior definitely improves their anti-scrape shield. So two birds one stone...

Yeh, unfortunately, that issue does nothing to solve the current problem. The relevance is that Cloudflare is sending CAPTCHA when the client connects in an insecure(deprecated) way. Since all major browsers will soon disable those insecure TLS versions, we can expect Cloud

[2019-07-03 21:04] ThomasF34 opened #231 "Yet another Unexpected token (ParserError)"
Hi, i got a ParserError when i'm trying to use `get` method

  * What version of Cloudscraper are you using?
    - 4.1.2

  * What version of Node.js are you using?
    - 10.15.3

[code]

Before the error was thrown, last lines of the debugger were :

[code]

Cloudflare changed their technique or am i using something wrongly ?
Thank for your help 😄

(I saw both #190 and #192 were close to the prob

[2019-07-05 12:13] Eastkap commented on #229
This cipher appears to be clipped now. Haven't been able to found a replacement yet.
[Python module has the same issue](https://github.com/VeNoMouS/cloudscraper/issues/57)

[2019-07-05 19:57] codemanki commented on #231
Thanks for reporting this. I will take a look asa

[2019-07-06 05:55] pro-src commented on #231
I tried a couple of protected sites without issue. It's doubtful that we can resolve this issue without having a URL to reproduce the problem.

If I had to guess, the server is putting `cloudflare` somewhere in the HTTP response *server* header aka `Server: cloudflare` which makes the request ambiguous.

The Easiest way to tell what is going on is to catch the error and save the response.

[code]

[2019-07-06 21:53] pro-src commented on #229
The problem doesn't occur for me on Node.js v12.4.0 or v11.5.0 with the URL from the OP when using the default configuration or the `--tls-cipher-list` flag.

[2019-07-06 21:55] pro-src commented on #229
@VeNoMouS is a retard. He had no idea what the real problem is but here's a clue. If you the browser sends those ciphers and doesn't get a CAPTCHA then that isn't the problem....

[2019-07-06 22:04] pro-src commented on #229
Anyways, Feel free to see the cipher list that your web browser sends by visiting https://howsmyssl.com or https://www.ssllabs.com/ssltest/viewMyClient.html

Then head over to https://www.openssl.org/docs/manmaster/man1/ciphers.html to create a list.

Let me know if I can help and please don't associate this project with that con artist.

[2019-07-06 22:46] pro-src commented on #231
@ThomasF34, if it's not CF's HTML, take a look at https://github.com/codemanki/cloudscraper/blob/master/docs/examples/ignore-error.js

[2019-07-07 00:51] ProGamer13 opened #232 "I cloud the scrape but no works"
I cloud the scrape but no works wtf pm us // slaykings // serpico pce out cloud the scrape

[2019-07-07 01:11] #232 closed

[2019-07-07 01:15] pro-src commented on #232
Is this your idea of spam or what?
In any case, please refrain from opening issues like this and consider using the issue template.

[2019-07-08 15:54] Eastkap commented on #229
issue is, once again, on my end, sorry @pro-src .
Cloudflare seems to have captcha-flagged my proxies

[2019-07-09 19:06] izidan opened #233 "fails to work with tor/socks proxy"
Would you please provide sample on how it should work using tor/socks proxy.

tried both of the following settings using .defaults() and still no luck

`{ proxy: "socks://127.0.0.1:9050" }`

`{ agentClass: SocksProxyAgent, agentOptions: { protocol: "socks:", host: "localhost", port: 9050 } }`

[2019-07-09 21:55] pro-src commented on #233
Hi @izidan,

If it works with `request` or `request-promise` then it'll work with Cloudscraper with very few exceptions.
This isn't one of those exceptions, those options will be passed to the underlying library as you'd expect.

Replace your calls to `cloudscraper` with `request-promise` to make sure your code works as intended with `request` first. There is documentation: https://github.com/requ

[2019-07-09 22:05] izidan commented on #233
it throws the following error when trying the following default settings even though it `request` module works by itself when calling directly using the same settings

`{ agentClass: require('socks-proxy-agent'), agentOptions: { protocol: 'socks:', host: '127.0.0.1', port: '9050' }}`

[2019-07-09 22:07] izidan commented on #233
same error when setup with the following settings

`{  agent: (new require('socks-proxy-agent'))('socks://127.0.0.1:9050') }`

[2019-07-09 22:12] izidan commented on #233
and when called with default settings being `{ proxy: 'socks://127.0.0.1:9050' }` it throws the following error

[2019-07-09 22:16] pro-src commented on #233
`request` doesn't throw exceptions when you get a CAPTCHA, Cloudscraper does
It's working with both libraries, or you wouldn't get the CAPTCHA error.

You may log the response that you're getting:
[code]

I'm guessing that those settings aren't working with `request` either.
I'm going to close this issue now since it is working when it works with the `request` library.

[2019-07-09 22:20] izidan commented on #233
using `const cloudscraper = require('request-promise')` with both of the `agent` or `agentClass + agentOptions` options works fine as the html is returned with the captcha check, although it fails to go past the security page

[2019-07-09 22:21] pro-src commented on #231
This can be reopened this if you're still having problems, just lmk.

[2019-07-09 22:23] pro-src commented on #233
Yeh, unfortunately Cloudscraper can't solve those for you but we do have some convenience methods to help solve them using a third party service. It's mentioned in the README and there are examples.

I hope that helps

[2019-07-09 22:32] izidan commented on #233
I am really confused with your reply above, Cloudscraper already works to resolve the captcha and pass using normal http proxy yet it fails with socks proxy, and I believe this has nothing to do with request or request-promise

simply this works

`node -e "require('cloudscraper').defaults({ proxy: 'http://54.37.21.29:3128' }).get('https://www.nicholashumphreys.com').then(console.log, console.error

[2019-07-09 22:39] pro-src commented on #233
I apologize if my response wasn't clear but Cloudscraper has never handled CAPTCHA, has never solved CAPTCHA ever. If you have a CAPTCHA handler, please share the code so I'll know what we're dealing with here.

You're connecting to the target server using two different IP's. It's most probable that the target has blocked Tor users. I don't find it odd in the least that the web proxy gets through

[2019-07-09 22:51] izidan commented on #233
@pro-src you are right, it seems to be any issue with cloudflare blocking the tor proxy itself even though it works via the tor browser itself, I shall close the issue and do further investigation. Thanks for your time.

[2019-07-09 22:51] #233 closed

[2019-07-09 22:54] pro-src commented on #233
If it works in the Tor Browser then I'd definitely like to have it working in Cloudscraper. The only Tor related conversation besides this issue is https://github.com/codemanki/cloudscraper/issues/202.

I'd be glad to know what your investigation yields.

[2019-07-09 22:58] pro-src commented on #233
To be clear, we want to imitate the browser to avoid the CAPTCHA being sent in the first place. This might be TLS/SSL related and could be pretty complicated... If you want, open another issue: "CAPTCHA when using Tor", the issue template would be great for this.

The Tor exit node is more than likely changing which could give you different results. It'd help if you could configure your instance o

[2019-07-10 23:36] brunogaspar commented on #233
@pro-src It's also failing on my end with regular proxies with or without user & password.

Trying to access your own website, without proxy, works as expected, with proxy, it fails with the same error as in the OP.

Though the interesting part is, if i make my network to use this proxy or even the browser alone, it works fine.

Do you have any pointers where to look? I'm a tad new into CF bypassi

[2019-07-11 06:03] pro-src commented on #233
Hi @brunogaspar,

Give this a couple of tries

`npm i --save cloudscraper proxy-lists`
`node issue-233.js > results.txt`

<details><summary>issue-233.js</summary>

[code]
</details>
<details><summary>results.txt</summary>

[code]
</details>

[2019-07-11 06:23] pro-src commented on #233
@brunogaspar

Based on those results, the problem is most likely the proxies. I had gotten much better results but I felt that output was the most realistic. Random proxies aren't reliable and they're bound to trigger a CAPTCHA at some point.

If despite a couple of runs, all of them fail, you're most likely dealing with the TLS/SSL issue that I mentioned above. However, I seriously doubt that to

[2019-07-11 09:30] brunogaspar commented on #233
Will see what i can come up, but it is a tad weird where it works fine browser wise.

One of the python implementations sort of works, of course the more requests you do, the likelihood of getting a captcha will be higher i suppose.

But thanks for the pointers!

[2019-07-11 09:56] izidan commented on #233
@pro-src it works with anonymous proxies, example https://free-proxy-list.net/anonymous-proxy.html reason being is that once cloudflare marks your ip as suspicious it gets blocked and won't be able to get to the captcha page.

@brunogaspar the reason it works with browsers is because cloudflare uses cookies once the captcha page is passed hence browsers works fine even behind tor. tried it with fi

[2019-07-11 10:02] izidan commented on #233
on a side note, cloudflare will never block an ip for a mobile network operate no matter how many requests you do, as all of the mobile operator client likely to share few internet gateways so try to test it via mobile hotspot :)

[2019-07-11 19:02] pro-src commented on #233
now when i came across cloudscraper i was under the impression that it takes care of solving the captcha, but when tried it with tor it failed to work, so not sure if the statement on the first page stands true here

There seems to be some general unawareness of Cloudflare challenges, CAPTCHA, the browser, and this project.

All I can say is learn to read.

[2019-07-11 19:19] OSVFreeDom opened #234 "Always Captcha (with proxies)"
_Please attempt to answer the following questions before submitting a new issue:_

  * What version of Cloudscraper are you using?
    - `4.1.2`
  * What version of Node.js are you using? (Please share the process information)
    - `10.16`
  * When did the problem start occurring?
    `Today (2019/07/11)`
  * How often does the problem occur?
    `All time`
  * What is the URL?
    `Many URL incl

[2019-07-11 22:31] dpalade06 opened #236 "Error: tunneling socket could not be established"
I've been trying to use this library to send get requests to CloudFlare protected websites using some http / https proxies.

For some reason I keep getting errors like:
- RequestError: Error: tunneling socket could not be established, cause=socket hang up
- RequestError: Error: tunneling socket could not be established, cause=connect ECONNREFUSED
- RequestError: Error: tunneling socket could not b

[2019-07-11 22:54] pro-src commented on #236
Hi @dpalade06,

The proxies are the problem 90% of the time.
For example:

Looks like the proxy server hung up because of Cloudflare's response status code. Either way, it's a server error code. The problem is on their end.

Have a look at https://github.com/codemanki/cloudscraper/issues/233#issuecomment-510342262 for an example and tests.

Cheers

[2019-07-11 22:54] #236 closed

[2019-07-11 22:58] pro-src commented on #234
Hi @OSVFreeDom,

Thanks for taking the time to create a proper issue. It really helps.
This seems to be the same problem as https://github.com/codemanki/cloudscraper/issues/229.
Please read over that issue and let me know if I can be of more assistance.

As I mention in that issue, I'd really like to fix the problem but I don't currently have a concrete way of doing so that works for everybody.

C

[2019-07-11 23:25] OSVFreeDom commented on #234
Thanks for your answer.
I've try some ciphers but no changes...
Do you have a temporaly fix to force using good cipher that not trigger CAPTCHA ?

[2019-07-11 23:40] pro-src commented on #234
If the problem was the cipher list, I could recommend something but that's not the exact problem. I've gone into more detail in the linked issue.

FWIW, I don't get a CAPTCHA when using https://nodejs.org/download/release/v10.16.0/node-v10.16.0-linux-x64.tar.gz

[code]

OpenSSL may behave differently depending on the CPU. I've never had much problem with the TLS related Cloudflare updates, others

[2019-07-11 23:46] OSVFreeDom commented on #234
I currently have this build of node and I get CAPTCHA...
Thanks anyway

[2019-07-11 23:49] pro-src commented on #234
Sorry boss, please do check out the suggestions in that issue: https://github.com/codemanki/cloudscraper/issues/229#issuecomment-502481770

The OP did manage to get it working.

[2019-07-11 23:55] OSVFreeDom commented on #234
I don't understand why Pyhton with same version of openssl don't have this issue

[2019-07-11 23:58] pro-src commented on #234
Depending on the OS, Python is more than likely using the system's version of OpenSSL. Node.js compiles with OpenSSL meaning it uses it's own version. So try a different build of Node.js.

[2019-07-12 00:00] pro-src commented on #234
Check `node -p process.versions`

[2019-07-12 00:00] OSVFreeDom commented on #234
That's what I do, same bug with v12.6.0

[2019-07-12 00:01] OSVFreeDom commented on #234
[code]

[2019-07-12 00:02] OSVFreeDom commented on #234
It's only with using proxy, but same proxies on Python and Node but success rate is 100% for Pyhton and node 0%

[2019-07-12 00:08] pro-src commented on #234
Ah, so when not using a proxy everything works? If that's the case, this isn't likely to be a TLS problem.
Well... Could you adjust the title? :smile:

Give this a go: https://github.com/codemanki/cloudscraper/issues/233#issuecomment-510342262

[2019-07-12 00:13] OSVFreeDom commented on #234
I've read this issue and adjust the headers not working for me.

[2019-07-12 00:14] pro-src commented on #234
Ah, you're overriding the headers... duh

Here is your fixed snippet:

var cloudscraper = require('cloudscraper');
var headers = Object.assign(cloudscraper.defaultParams.headers, { /* modify UA here */ });

cloudscraper.defaults({proxy:"http://163.172.171.125:80", headers })
.get('https://pro-src.com').then(function(body) {
  console.log(body);
}).catch(function(err) {
  console.log(err);
});
[cod

[2019-07-12 00:15] pro-src commented on #234
I apologize for not running your snippet initially :/

[2019-07-12 00:20] OSVFreeDom commented on #234
Same, trigger captcha (I try some proxy)... Python with same proxy not trigger captcha...

[2019-07-12 00:26] GoogleSites opened #237 "Proxies always throw errors"
_Please attempt to answer the following questions before submitting a new issue:_

  * What version of Cloudscraper are you using?
    - 4.1.2 (latest)
  * What version of Node.js are you using? (Please share the process information)
    process {
  title: 'C:\\Windows\\system32\\cmd.exe - node  -p process',
  version: 'v11.8.0',
  versions:
   { node: '11.8.0',
     v8: '7.0.276.38-node.16',

[2019-07-12 01:22] pro-src commented on #234
The reason you were experiencing a CAPTCHA was because of the way you were overriding the default headers that are need to imitate the web browser. Please see the code snippet above.

[2019-07-12 01:26] pro-src commented on #234
Sorry for being short but this stuff is covered in the README and the examples. Good luck

[2019-07-12 02:03] OSVFreeDom commented on #234
I think you don't understand...
Your snippet with a lot of proxy not work (in Python yes)
The big problem is :
    Yesterday => All working fine
    Today => nothing change (code/server etc..) and not working with any proxy (in Python it works too)

[code]

Code tried with more than 10k proxies => 100% captcha
The same in Python => 93% success (5% dead proxy, 2% captcha)

PS : I don't override any

[2019-07-12 02:14] pro-src commented on #237
Hi @GoogleSites,

We've been getting a lot of issues about proxies not working. Not all proxies have this problem.

If it does have something to do with the client, the problem is with `request`. Please open an issue there since this library is just a wrapper around `request`. The following code has the same problem.

[code]

If you'd like to test proxies yourself, take a look at: https://github.c

[2019-07-12 02:14] #237 closed

[2019-07-12 02:30] pro-src commented on #234
I can't reproduce the statistics you've given. I can't reproduce the problem with the proxy you shared. If you're not overriding the headers, I'm not quite sure what the problem could be but we're getting a lot reports about proxies not working so I don't think this is an isolated issue. Something has changed...

[2019-07-12 02:35] pro-src commented on #237
https://github.com/codemanki/cloudscraper/issues/234

[2019-07-12 02:35] pro-src commented on #236
https://github.com/codemanki/cloudscraper/issues/234

[2019-07-12 02:36] pro-src commented on #233
Related to https://github.com/codemanki/cloudscraper/issues/234

[2019-07-12 02:53] OSVFreeDom commented on #234
Yes something has changed but in my side on Cloudflare side perhaps.
The script run a lot of time by day and without any reasons it's stop working (I don't have exact hour sorry)

[2019-07-12 02:57] pro-src commented on #234
@GoogleSites, @dpalade06, @izidan, @brunogaspar

Let's move all of the proxy related conversation here.

Does anybody else get the same results as @OSVFreeDom when running the script from https://github.com/codemanki/cloudscraper/issues/233#issuecomment-510342262

[2019-07-12 03:11] OSVFreeDom commented on #234
In console.log you can see all request trigger captcha expect dead proxies

<details><summary>result.txt</summary>

[code]
</details>

<details><summary>console.log</summary>

[code]

</details>

[2019-07-12 09:23] brunogaspar commented on #234
Node version: v11.12.0

<details>
<summary>result.txt</summary>

[code]
</details>

<details>
<summary>console.log</summary>
[code]
</details>

I guess i have the exact same behaviour.

Haven't spent much time figuring things out yet, had other stuff to work on.

[2019-07-12 10:31] pro-src commented on #234
[code]

<details><summary>results.txt</summary>

[code]
</details>

The only thing that I imagine to be different between our systems is the TLS because OpenSSL defaults might vary depending on CPU. It's the best explanation that I have at the moment given everything that CF has been doing with TLS lately. It only really make sense if CF is performing additional checks when they encounter a known

[2019-07-12 10:37] brunogaspar commented on #234
Yup, i rarely get captcha when i don't use proxies.

I can try different versions of Node later today and see where it lands me.

I tried that, kinda the same result unfortunately.

[2019-07-12 11:19] pro-src commented on #234
I'm not having much luck on my end... Reading https://tools.ietf.org/html/draft-ietf-tls-tls13-26#section-9.1 through https://tools.ietf.org/html/draft-ietf-tls-tls13-26#section-9.3 and wondering if CF is timing the TLS negotiation as a way to spot proxies.

Each of the following does yield passing results:
[code]

[2019-07-12 12:02] OSVFreeDom commented on #234
It's work for me !
Thanks 👍

[2019-07-12 17:59] brunogaspar commented on #234
These are my results

node --tls-cipher-list='ECDHE-ECDSA-AES128-GCM-SHA256' issue-233.js > results.txt

<details>
<summary>result.txt</summary>

[code]
</details>

---

node --tls-cipher-list='ECDHE-ECDSA-AES256-GCM-SHA384' issue-233.js > results.txt

<details>
<summary>result.txt</summary>

[code]
</details>

---

node --tls-cipher-list='ECDHE-ECDSA-CHACHA20-POLY1305' issue-233.js > results.txt

[2019-07-13 00:03] pro-src commented on #234
Those are the results that I'd expect to see from random *public* proxies if everything is working properly. What was confusing about this is that I jumped to the conclusion of it being TLS related but then dismissed it because normally, you'd always be getting a CAPTCHA regardless of whether or not you're using a proxy. The only reason I revisited it was because nothing else made sense.

What cha

[2019-07-13 00:03] #234 closed

[2019-07-13 23:56] pro-src commented on #234
This is the relevant Node.js issue: https://github.com/nodejs/node/issues/24818

[2019-07-31 20:05] ThomasF34 commented on #231
Hi !! Sorry i've been very busy and i had no time to work on my project. This evening i've been able to dig into this bug i had.

This is the Cloudflare's HTML i have using your [test function](https://github.com/codemanki/cloudscraper/issues/231#issuecomment-508899863)

[code]

Do you have any idea how to fix this ?
Thanks for you help, and again sorry for the delay :)

[2019-08-04 21:21] Revadike commented on #202
https://fuckmehard.fun/HIT

But it doesn't trigger onCaptcha for some reason...

[2019-08-09 23:43] pro-src opened #240 "Sucuri WAF - Undocumented Code"
I mentioned this before when I wasn't sure how the code was Cloudflare related. The following code is for bypassing https://sucuri.net/website-firewall/

https://github.com/codemanki/cloudscraper/blob/c65a95385ca9bbd3490f34589ceaffadfbba62c2/index.js#L453-L475

I think this should be mentioned in the README or removed.

+1 for keeping it around since it's still useful i.e. https://github.com/Anoro

[2019-08-10 17:24] pro-src commented on #231
Hey,

I've tested itorrents.org and the provided HTML using CloudScraper's test suite on Node.js v10.15.3. Everything is fine so I'm clueless as to what is causing this problem for you.

Double check your Node.js version though: `node -p process.versions`
And the version of Cloudscraper: `node -p 'require("cloudscraper/package").version'`

[2019-08-11 08:24] codemanki commented on #240
🤔 for some reason I thought this was for cloudflare :D I will amend Readme

[2019-08-11 17:03] pro-src commented on #240
I just realized a couple of problems with the current code.

* We ignore the response because the server header starts with `Sucuri` instead of `cloudflare`.
* The test fixture we're using is outdated. The most recent Sucuri WAF, cookie setting code, uses an un-nested `location.reload` whereas we only provide a fake `document.location.reload`.
  - https://github.com/codemanki/cloudscraper/blob/c65

[2019-08-11 22:07] ThomasF34 commented on #231
Hi,

That's weird. I tested again with link `http://itorrents.org/torrent/26968E916E7D5BDE409CB068DA657E87F0B12C6F.torrent` Is it working for you with this link ?

About versioning here is my versions :
[code]

[code]

[2019-08-13 18:40] pro-src commented on #231
@ThomasF34 Good and bad news :smile:

It's not the link. I don't know how I missed this before but the stacktrace is a dead give away:

[code]

The `solveChallenge` function doesn't exist in v4.1.2 and hasn't existed since support for reCAPTCHA solving was added prior to v4.0.0.

You can see the change in this commit: https://github.com/codemanki/cloudscraper/commit/14eb38190cacdf0205293b3ddb785f2

[2019-08-13 18:40] #231 closed

[2019-08-13 18:52] pro-src commented on #231
Maybe this will help:
[code]

[2019-08-15 07:20] #240 closed

[2019-08-18 21:07] FruitBoi opened #244 "POST formdata"
Hello, I'm not sure if this is a bug, but whenever I attempt to send a POST request and include form data in the request, the form data is lost somehow.

[2019-08-19 10:44] codemanki commented on #244
@FruitBoi could you add more details using this [template](https://github.com/codemanki/cloudscraper/issues/new?assignees=&labels=&template=bug_report.md&title=)? This would help to identify the problem you are having.

[2019-08-20 12:21] dr-nyt opened #246 "Continuing a session"
Hey!

I have a question rather than a bug. So I see that when I connect to a Cloudflare protected site for the first time, it takes the time needed for verification, and the next time during the same session if I were to make a request to the same site, it would go through instantly.

My question is that can I somehow save the cookie used for the session and use it again when I restart the session

[2019-08-20 17:13] pro-src commented on #246
Sup @dr-nyt,

You'll want to keep a reference to the cookie jar that cloudscraper uses. The cookie jar is a [tough.CookieJar](https://www.npmjs.com/package/tough-cookie). You can import `tough-cookie` and create a jar or use the convenience method i.e. `const jar = cloudscraper.jar()`. If you pass that jar to cloudscraper, all of the cookies(aka the session) will be stored in it.

[code]

Now that

[2019-08-20 17:13] #246 closed

[2019-08-20 17:20] pro-src commented on #246
I almost forgot to mention that, due to UA randomization, you'll want to persist the request headers as well. So that you use the same UA/headers/cookies combination when continuing the session.

Save the headers:
[code]

Load the headers:
[code]

[2019-08-20 20:39] pro-src opened #248 "Improve response filtering"
I think it's safe to ignore 2xx responses and response's whose content-length are greater than twice the expected size.

We can't ignore 2xx in the case of Sucuri WAF but for Cloudflare it would be a great performance gain.

<strike>If the content-length is greater than, lets say, 24 KiB, it's obviously not Cloudflare's interstitial or reCAPTCHA response. I think we should avoid needlessly process

[2019-08-21 17:51] dr-nyt commented on #246
Thank you, that helps alot! So should I store the headers once on launch and keep using those indefinitely?

[2019-08-21 17:54] pro-src commented on #246
@dr-nyt Yup

[2019-08-24 21:06] pro-src commented on #244
As stated, the issue template should be used to open a new issue. Closing...

[2019-08-24 21:06] #244 closed

[2019-08-24 21:10] pro-src commented on #248
The current approach is the most robust. I've had it in mind to add support for streaming responses for a while now and is why I'm revisiting this now. I'll reference this issue when I get around to sending a PR for that. I'm closing this for now.